<span class="" style="position:absolute; right: 18px; left: auto;top: 15px; z-index: 1;" (click)="onNoClick()">
  <mat-icon>close</mat-icon>
</span>
<div class="row">
  <div class="col-9" style="display: flex;align-items: center;justify-content: flex-end;min-height: 53px;">
    <app-search-filter #appSearchFilter1 [searchContext]="'.search-context-grant-selection'" [scollableArea]="'.scrollable'" *ngIf="!searchClosed" [turnOffSearch]="searchClosed" [ready]="filterReady" (highlightDone)="resetFilterFlag($event)" (filterCriteria)="startFilter($event)" (close)="closeSearch($event)" style="transition: display 2s;"></app-search-filter>
    <mat-icon (click)="openSearch()" style="position: absolute; right: 0; margin-right: 20px;">search</mat-icon>
    
  </div>
  <div class="col-3"></div>
</div>
<div class="row mb-3 mt-3">
  <div class="col-12">
    <mat-form-field class="text-center">
      <mat-label *ngIf="!singleGrant" class='text-green'>Reports for</mat-label>
      <mat-select
        *ngIf="!singleGrant"
        id="grantselection"
        [(ngModel)]="grantId"
        [ngModelOptions]="{ standAlone: true }"
        class="anu-input"
        (ngModelChange)="updateSelectedReports($event)"
      >
        <mat-option *ngFor="let grant of grants" [value]="grant.id">{{
          grant.name
        }}</mat-option>
      </mat-select>
      <mat-label *ngIf="singleGrant">Approved Reports for</mat-label>
      <input
        class=""
        *ngIf="singleGrant"
        matInput
        [value]="grants[0].name"
        style="font-weight: bold"
      />
    </mat-form-field>
  </div>
  <div  class="col-12 scrollable" style="overflow-y: scroll;height: inherit;min-height: calc(100vh - 200px) !important;max-height: calc(100vh - 200px) !important;">
    <div *ngIf="!selectedFilteredReports">
      <img src="./assets/img/loader.gif" style="width: 10%" />
      <p style="color: black">Loading upcoming reports...</p>
    </div>
    <div
      *ngIf="selectedFilteredReports && selectedFilteredReports.length === 0"
    >
      <p style="color: black">No reports found</p>
    </div>
    <div
      [ngClass]="uiService.getCardStyle(report.canManage)"
      style="cursor: pointer"
      *ngFor="let report of selectedFilteredReports; let i = index"
      (click)="manageReport(report)"
    >
    <div class="d-flex align-items-center report-delete" *ngIf="(report.canManage && report.status.internalStatus === 'DRAFT') || (!report.canManage && report.disabledByAmendment)" (click)="deleteReport(report)">
      <mat-icon class="text-red">delete_outline</mat-icon>
    </div>
      <div class="col-12 mb-1">
        <p
          *ngIf="report.disabledByAmendment"
          class="mb-0 text-red text-left"
          style="font-weight: 600; font-size: 12px"
        >
          Underlying grant has been amended. Please check if this
          report is still valid.
        </p>
        <div class="text-subheader text-left mb-0 mt-2">
          <div class="mb-1"><b  class="search-context">{{
            (report.grant.referenceNo
              ? report.grant.referenceNo + " | "
              : "") + report.grant.name
          }}</b></div>
          
          <div class="mb-1"><b *ngIf="isExternalGrant(report.grant)" class=" mt-1 search-context">{{
            report.grant.organization
              ? report.grant.organization.name
              : ""
          }}</b> 
          <b *ngIf="!isExternalGrant(report.grant)" class="mt-1 search-context">{{
            report.grant.grantorOrganization.name
          }}</b> </div>
          
          <div class="mt-1">
            <img src="./assets/img/rupee.png" style="width: 9px" /><b
            >{{ getFormattedGrantAmount(report.grant.amount) }}
          </b>
          &nbsp;&nbsp;<span>({{
            getGrantAmountInWords(report.grant.amount)
          }})</span>
          </div>
          
        </div>
      </div>
      <div class="col-9" style="display: flex; align-items: center">
        <div class="row">
          <div class="col-12 my-4">
            <div class="text-header text-left mr-3 text-green" (click)="manageReport(report)">
              <span class="search-context">{{ report.name }}</span> | {{ report.dueDate | date: "dd-MMM-yyyy" }}
              <!-- <ng-container *ngIf="report.futureReportsCount" class="col-2">
                <div>
                  <small>
                    <a
                      (click)="viewAddnlReports(report.id, report.grant.id,'upcoming')"
                      class="text-blue"
                      (mouseenter)="highlight($event, true)"
                      (mouseleave)="highlight($event, false)">
                      See additional reports ({{report.futureReportsCount}})</a>
                    </small>
                  </div>
              </ng-container>
              <ng-container *ngIf="!report.futureReportsCount" class="col-2">
                <small class="ml-3"><a> Additional reports not available</a></small>
              </ng-container> -->
            </div>
          </div>
          <div class="col-12 px-0">
            <div class="col-10 py-1 px-3">
              <div class="row mb-0">
                <div class="col-5">
                  <p class="mb-0 text-subheader text-left">
                    Reporting Time Frame:
                  </p>
                </div>
                <div class="col-3">
                  <p class="mb-0 text-subheader text-left">Report Type:</p>
                </div>
                <div class="col-4">
                  <p class="mb-0 text-subheader text-left">
                    Submission Due Date
                  </p>
                </div>
              </div>
              <div class="row mb-1">
                <div class="col-5 text-left text-bold-highlight">
                  {{ report.startDate | date: "dd-MMM-yyyy" }} - {{ report.endDate | date: "dd-MMM-yyyy" }}
                </div>
                <div class="col-3">
                  <p class="text-left text-bold-highlight my-0">
                    {{ report.type === "adhoc" ? "Ad hoc" : report.type }}
                  </p>
                </div>
                <div class="col-4">
                  <p class="text-left text-bold-highlight my-0">
                    {{ report.dueDate | date: "dd-MMM-yyyy" }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      <div class="col-3">
        <div class="row">
          <div class="col-12">
            <div class="status-indicator2">
              <div [class]="'text-center status-icon state-'+report.status.internalStatus.toLowerCase()">
              </div>{{report.status.name | uppercase}}
            </div>
            <div class="text-center text-subheader pl-3 mt-2">{{report.ownerName}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

