<div class="row search-panel">   
  <div class="col-9 search-panel-container">
    <app-search-filter #appSearchFilter *ngIf="!searchClosed" [turnOffSearch]="searchClosed" [ready]="filterReady" (highlightDone)="resetFilterFlag($event)" (filterCriteria)="startFilter($event)" (close)="closeSearch($event)" style="transition: display 2s;"></app-search-filter>
    <mat-icon class="search-icon" (click)="openSearch()" style="position: absolute; right: 0; margin-right: 20px;">search</mat-icon>
  </div>
  <div class="col-3 d-flex align-items-center justify-content-end p-0">
    <ng-container *ngIf="appComponent.grantTypes && appComponent.grantTypes.length>0">
      <button
      *ngIf="
        appComponent.loggedInUser.organization.organizationType ===
        'GRANTER'
      "
      class="btn btn-sm btn-green float-right"
      (click)="createGrant()"
    >New Grant</button>
    </ng-container>
    
  </div>
</div>
<div class="main-content" style="margin-top: 40px;">
  <div class="container-fluid anudan-scrollable">    
    <div class="row" id="grantsContent">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div>
          <div *ngIf="!hasTenant">
            <img src="./assets/img/loader.gif" style="width: 10%" />
            <p style="color: black">Loading grants...</p>
          </div>

          
          
          <div *ngIf="hasTenant">
            <p *ngIf="filteredGrants && filteredGrants.length===0" class="py-5">
              No Grants
            </p>
            <div
              [ngClass]="uiService.getGrantCardStyle(grant,appComponent)"
              style="cursor: pointer"
              *ngFor="let grant of filteredGrants; let i = index; let last = last;"
              (click)="manageGrant(grant)"
            >
            <div *ngIf="grant.canManage && grant.grantStatus.internalStatus === 'DRAFT'" class="d-flex align-items-center grant-delete" (click)="deleteGrant(grant)">
              <mat-icon class="text-red">delete_outline</mat-icon>
            </div>
              
              <div class="col-12 text-left search-context">
                <i *ngIf="grant.grantTags.length===1" class="fas fa-tag fa-xs ml-2 grant-tags"></i>
                <i *ngIf="grant.grantTags.length>1" class="fas fa-tags fa-xs ml-2 grant-tags"></i>
                <p
                  class="text-header-h1 mb-1"
                  *ngIf="!grant.referenceNo"
                  style="font-size: 18px"
                >
                  <span
                    class="text-subheader pl-0"
                    style="font-weight: 600; font-size: 12px;display:flex;"
                    *ngIf="
                      (grant.grantStatus.internalStatus === 'DRAFT' ||
                        grant.grantStatus.internalStatus === 'REVIEW') &&
                      grant.origGrantId
                    "
                  >
                  <mat-icon [inline]="true" class="material-icons-outlined text-red mr-1">
                    info_outline
                  </mat-icon>
                    Amendment in-progress [<strong>{{ grant.origGrantRefNo }}</b
                    >]
                  </span>
                  
                </p>
                <p>{{ grant.name }}</p>
                  <p
                  class="text-header-h1 mb-1 mt-2"
                  *ngIf="grant.referenceNo"
                  style="font-size: 18px"
                >
                  <span
                    class="text-red pl-0"
                    style="font-size: 10px; font-weight: normal"
                    *ngIf="
                      (grant.grantStatus.internalStatus === 'DRAFT' ||
                        grant.grantStatus.internalStatus === 'REVIEW') &&
                      grant.origGrantId
                    ">Amendment in-progress [<strong>{{ grant.origGrantRefNo }}</strong>]</span>
                  <strong>{{ grant.name }}</strong>
                </p>
              </div>
              
              <div class="col-12 text-left search-context mb-0">
                <div class="text-header mb-0">
                  {{ grant.organization ? grant.organization.name : null }}
                </div>
              </div>
              <div
                class="col-9 text-left"
              >
                <div class="row">
                  <div class="col-12 mt-1">
                    <div class="row">
                      <div class="col-6 mb-0 pr-0" style="border-right: 1px solid #d4d4d4">
                        ₹
                        <span class="text-header mr-2 search-context">{{
                          getFormattedGrantAmount(grant.amount)
                        }}</span><span class="text-subheader"><small>{{getGrantAmountInWords(grant.amount)}}</small></span>
                      </div>
                      <div class="col-6 mt-1 text-left">
                        <div class="row">
                          <div
                            class="col-12 mb-0 pr-0 text-subheader">
                           <span class="text-header">
                              &nbsp;</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 mt-0">
                    <div class="row">
                      <div class="col-6 mb-0 pr-0" style="border-right: 1px solid #d4d4d4">&nbsp;</div>
                      <div class="col-6 mb-0 pr-0">&nbsp;</div>
                    </div>
                  </div>
                  <div class="col-12 mt-0">
                    <div class="row">
                      <div class="col-6 mb-0 pr-0" style="border-right: 1px solid #d4d4d4">
                        <p class="mb-0 text-header">
                          <mat-icon [inline]="true" class="mr-1"
                            >calendar_today</mat-icon
                          >
                          {{ grant.startDate | date: "dd-MMM-yyyy" }}
                          -
                          {{ grant.endDate | date: "dd-MMM-yyyy" }}
                          <span class="text-subheader"><small class="ml-2">({{ data.getDateDuration(grant) }})</small></span>
                        </p>
                      </div>
                      <div class="col-6 mb-0 pr-0  text-subheader">
                        Project Documents:<span class="text-header">
                          {{
                            grant.projectDocumentsCount === 0
                              ? "none"
                              : grant.projectDocumentsCount
                          }}</span>
                      </div>
                    </div>
                    
                    
                  </div>
                </div>
              </div>
              
              <div class="col-3 text-left">
                <div class="status-indicator2">
                  <div [class]="'text-center status-icon state-'+grant.grantStatus.internalStatus.toLowerCase()">
                  </div>{{grant.grantStatus.name | uppercase}}
                </div>
                <div class="text-center text-subheader pl-3 mt-2 search-context">{{grant.ownerName}}</div>
              </div>
              <div class="col-9"></div>
              <div *ngIf="appComponent.loggedInUser.organization.organizationType!=='GRANTEE'" [ngStyle]="{'background-color':getGrantTypeColor(grant.grantTypeId),'border-bottom-right-radius':'4px'}" class="col-3 p-1 d-flex align-items-center justify-content-center">
                <div class="float-right" >
                  <small>{{getGrantTypeName(grant.grantTypeId)}}</small>
                </div>
              </div>
              
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
