<span class="" style="position:absolute; right: 18px; left: auto;top: 15px; z-index: 1;" (click)="onNoClick()">
  <mat-icon>close</mat-icon>
</span>
<div class="row">
  <div class="col-9" style="display: flex;align-items: center;justify-content: flex-end;min-height: 53px;">
    <app-search-filter #appSearchFilter1 [searchContext]="'.search-context-grant-selection'" [scollableArea]="'.scrollable'" *ngIf="!searchClosed" [turnOffSearch]="searchClosed" [ready]="filterReady" (highlightDone)="resetFilterFlag($event)" (filterCriteria)="startFilter($event)" (close)="closeSearch($event)" style="transition: display 2s;"></app-search-filter>
    <mat-icon (click)="openSearch()" style="position: absolute; right: 0; margin-right: 20px;">search</mat-icon>
    
  </div>
  <div class="col-3"></div>
</div>
<div class="row mb-3">
  <div class="col-12">
    <div class="text-green mb-0 ng-star-inserted w-100 text-center" style="font-weight: 500;font-size: 1.2em;">{{title}}</div>
  </div>
  
  <div class="col-12 scrollable" style="overflow-y: scroll;height: inherit;min-height: calc(100vh - 180px) !important;max-height: calc(100vh - 180px) !important;" *ngIf="_for==='grant'">
    <div
              [ngClass]="uiService.getCardStyle(grant.currentAssignment ===appComp.loggedInUser.id)"
              style="border-radius: 8px; cursor: pointer"
              *ngFor="let grant of filteredGrants; let i = index"
              (click)="manageGrant(grant)"
            >
              <div class="col-10 text-left search-context">
                <i *ngIf="grant.grantTags.length===1" class="fas fa-tag fa-xs ml-2 grant-tags"></i>
                <i *ngIf="grant.grantTags.length>1" class="fas fa-tags fa-xs ml-2 grant-tags"></i>
                <p
                  class="text-header mb-1"
                  *ngIf="!grant.referenceNo"
                  style="font-size: 18px"
                >
                  <span class="search-context-grant-selection">{{ grant.name }}</span>
                  <span
                    class="text-red ml-3"
                    *ngIf="
                      grant.grantStatus.internalStatus === 'ACTIVE' &&
                      grant.amendGrantId
                    "
                  >
                    <small>Amendment in-progress</small>
                  </span>
                </p>
                <p
                  class="text-header mb-1 search-context-grant-selection"
                  *ngIf="grant.referenceNo"
                  style="font-size: 18px"
                >
                  {{ grant.referenceNo }} | <b>{{ grant.name }}</b>
                </p>
                <span *ngIf="appComp.loggedInUser.organization.organizationType!=='GRANTEE'" class=" badge text-black m-0 grant-type" [ngStyle]="{'background-color':getGrantTypeColor(grant.grantTypeId)}" ><small>{{getGrantTypeName(grant.grantTypeId)}}</small></span>
              </div>
              <div class="col-2 text-right">
                <div>
                  <span
                    [class]="
                      'badge text-white state-' +
                      grant.grantStatus.internalStatus.toLowerCase()
                    "
                    style="color: #000 !important"
                    >{{ grant.grantStatus.displayName }}</span
                  >
                </div>
              </div>
              <div class="col-12 text-left mb-2 search-context">
                <div class="text-subheader mb-2 search-context-grant-selection">
                  {{ grant.organization ? grant.organization.name : null }}
                </div>
                
              </div>
              <div
                class="col-6 text-left"
                style="border-right: 1px solid #d4d4d4"
              >
                <div class="row">
                  <div class="col-12">
                    <p class="mb-0">
                      ₹
                      <span class="text-header mr-4 search-context">{{
                        getFormattedGrantAmount(grant.amount)
                      }}</span>
                      <small class="mb-0">{{
                        getGrantAmountInWords(grant.amount)
                      }}</small>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-6 text-left">
                <div class="row">
                  <div class="col-12">
                    <p class="mb-0 text-subheader">
                      <mat-icon [inline]="true" class="mr-1"
                        >calendar_today</mat-icon
                      >
                      {{ grant.startDate | date: "dd-MMM-yyyy" }}
                      <mat-icon [inline]="true" class="mx-2"
                        >keyboard_arrow_right</mat-icon
                      >
                      <mat-icon [inline]="true" class="mr-1"
                        >calendar_today</mat-icon
                      >
                      {{ grant.endDate | date: "dd-MMM-yyyy" }}
                      <small class="ml-2"
                        >({{ grantService.getDateDuration(grant) }})</small
                      >
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-10 mt-2 text-left">
                <div class="row">
                  <div
                    class="col-6 text-subheader"
                    style="border-right: 1px solid #d4d4d4"
                  >
                    Disbursed <small>(till date)</small>:<strong>
                      {{
                        grant.approvedDisbursementsTotal === 0
                          ? "none"
                          : currenyService.getFormattedAmount(
                              grant.approvedDisbursementsTotal
                            )
                      }}</strong
                    >
                    <small
                      class="ml-2"
                      *ngIf="grant.approvedDisbursementsTotal > 0"
                      >{{
                        currenyService.getAmountInWords(
                          grant.approvedDisbursementsTotal
                        )
                      }}</small
                    >
                  </div>
                  <div class="col-6 text-subheader">
                    Project Documents:<strong>
                      {{
                        grant.projectDocumentsCount === 0
                          ? "none"
                          : grant.projectDocumentsCount
                      }}</strong
                    >
                  </div>
                </div>
              </div>
              <div class="col-2" style="
                display: flex;
                align-items: center;
                justify-content: flex-end;">
              <button
                *ngIf="
                  grant.canManage &&
                  grant.grantStatus.internalStatus === 'DRAFT'
                "
                class="btn btn-sm btn-red mx-0"
                (click)="deleteGrant(grant)"
              >
                Delete
              </button>
            </div>
              
              <div class="col-12 mt-2 text-left">
                <div class="row">
                  <div class="col-6 text-subheader" style="">
                    Approved Reports :<strong>
                      {{
                        grant.approvedReportsForGrant === 0
                          ? "none"
                          : grant.approvedReportsForGrant
                      }}</strong
                    >
                  </div>
                </div>
              </div>
            </div>
  </div>
  <div class="col-12 scrollable" style="overflow-y: scroll;height: inherit;min-height: calc(100vh - 180px) !important;max-height: calc(100vh - 180px) !important;" *ngIf="_for==='report'">
    <div
                [ngClass]="uiService.getCardStyle(report.canManage)"
                style="cursor: pointer"
                *ngFor="let report of filteredReports; let i = index"
                (click)="manageReport(report)"
              >
                <div class="col-12 mb-1">
                  <p
                    *ngIf="report.disabledByAmendment"
                    class="mb-0 text-red text-left"
                    style="font-weight: 600; font-size: 12px"
                  >
                    Underlying grant has been amended. Please check if this
                    report is still valid.
                  </p>
                  <span *ngIf="appComp.loggedInUser.organization.organizationType!=='GRANTEE'" class=" badge text-black m-0 grant-type" [ngStyle]="{'background-color':getGrantTypeColor(report.grant.grantTypeId)}" ><small>{{getGrantTypeName(report.grant.grantTypeId)}}</small></span>
                  <p class="text-subheader text-left mb-0">
                    Grant Name:
                    <b  class="search-context-grant-selection">{{
                      (report.grant.referenceNo
                        ? report.grant.referenceNo + " | "
                        : "") + report.grant.name
                    }}</b>
                    <br>Implementing Organization:
                    <b *ngIf="isExternalGrant(report.grant)" class="search-context-grant-selection">{{
                      report.grant.organization
                        ? report.grant.organization.name
                        : ""
                    }}</b> 
                    <b *ngIf="!isExternalGrant(report.grant)" class="search-context-grant-selection">{{
                      report.grant.grantorOrganization.name
                    }}</b> 
                    <br />
                    Grant Amount:
                    <img src="./assets/img/rupee.png" style="width: 9px" /><b
                      >{{ getFormattedGrantAmount(report.grant.amount) }}
                    </b>
                    &nbsp;&nbsp;<span>{{
                      getGrantAmountInWords(report.grant.amount)
                    }}</span>
                  </p>
                </div>
                <div class="col-10" style="display: flex; align-items: center">
                  <p
                    class="text-header text-left mr-3"
                    
                  >
                    <span class="search-context-grant-selection">{{ report.name }}</span> |
                    {{ report.dueDate | date: "dd-MMM-yyyy" }} |
                  </p>
                  <ng-container *ngIf="report.futureReportsCount" class="col-2">
                    <p>
                      <small
                        ><a
                          
                          class="text-blue"
                          
                        >
                          See additional reports ({{
                            report.futureReportsCount
                          }})</a
                        ></small
                      >
                    </p>
                  </ng-container>
                  <ng-container
                    *ngIf="!report.futureReportsCount"
                    class="col-2"
                  >
                    <p>
                      <small class="ml-3"
                        ><a> Additional reports not available</a></small
                      >
                    </p>
                  </ng-container>
                </div>
                <div class="col-2">
                  <div class="row">
                    <div class="col-12">
                      <span
                        [class]="
                          'badge state-' +
                          report.status.internalStatus.toLowerCase()
                        "
                        style="color: #000 !important"
                        >{{ report.status.displayName }}</span
                      >
                    </div>
                    <div
                      class="col-12"
                      style="
                        display: flex;
                        align-items: center;
                        justify-content: center;
                      "
                    >
                      <button
                        *ngIf="
                          (report.canManage &&
                            report.status.internalStatus === 'DRAFT') ||
                          (!report.canManage && report.disabledByAmendment)
                        "
                        class="btn btn-sm btn-red mt-3 mb-3 mx-0" (click)="deleteReport(report)">
                        Delete
                      </button>
                    </div>
                  </div>
                </div>

                <div class="col-12 p-3" style="background: #f1f1f1">
                  <div class="row mb-0">
                    <div class="col-2">
                      <p class="mb-0 text-subheader text-left">Report Type:</p>
                    </div>
                    <div class="col-7">
                      <p class="mb-0 text-subheader text-left">
                        Reporting Time Frame:
                      </p>
                    </div>
                    <div class="col-3">
                      <p class="mb-0 text-subheader text-left">
                        Submission Due Date
                      </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-2">
                      <p class="text-left text-bold-highlight my-0">
                        {{ report.type === "adhoc" ? "Ad hoc" : report.type }}
                      </p>
                    </div>
                    <div class="col-7">
                      <div class="row">
                        <div>
                          <p class="text-bold-highlight my-0">
                            <mat-icon [inline]="true" class="mr-1"
                              >calendar_today
                            </mat-icon>
                            {{ report.startDate | date: "dd-MMM-yyyy" }}
                          </p>
                        </div>
                        <div>
                          <mat-icon [inline]="true" class="mx-3 my-0"
                            >arrow_forward
                          </mat-icon>
                        </div>
                        <div>
                          <p class="text-bold-highlight my-0">
                            <mat-icon [inline]="true" class="mr-1"
                              >calendar_today
                            </mat-icon>
                            {{ report.endDate | date: "dd-MMM-yyyy" }}
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-3">
                      <p class="text-left text-bold-highlight my-0">
                        {{ report.dueDate | date: "dd-MMM-yyyy" }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
  </div>

  <div class="col-12 scrollable" style="overflow-y: scroll;height: inherit;min-height: calc(100vh - 180px) !important;max-height: calc(100vh - 180px) !important;" *ngIf="_for==='disbursement'">
    <div
              [ngClass]="uiService.getCardStyle(disbursement.canManage)"
              style="cursor: pointer"
              *ngFor="let disbursement of filteredDisbursements; let i = index"
              (click)="manageDisbursement(disbursement)"
            >
              <div class="col-10 mb-1 search-context-grant-selection">
                <p
                  *ngIf="disbursement.disabledByAmendment"
                  class="mb-0 text-red text-left"
                  style="font-weight: 600; font-size: 12px"
                >
                  Underlying grant has been amended. Please check if this
                  disbursement is still valid
                </p>
                <span class=" badge text-black m-0 grant-type" [ngStyle]="{'background-color':getGrantTypeColor(disbursement.grant.grantTypeId)}" ><small>{{getGrantTypeName(disbursement.grant.grantTypeId)}}</small></span>
                
                <p class="text-subheader text-left mb-0">
                  Grant Name:
                  <b>{{
                    (disbursement.grant.referenceNo
                      ? disbursement.grant.referenceNo + " | "
                      : "") + disbursement.grant.name
                  }}</b>
                  <br>Implementing Organization:
                <b *ngIf="isExternalGrant(disbursement.grant)">{{
                  disbursement.grant.organization
                    ? disbursement.grant.organization.name
                    : ""
                }}</b> 
                <b *ngIf="!isExternalGrant(disbursement.grant)">{{
                  disbursement.grant.grantorOrganization.name
                }}</b>
                  <br />
                  Grant Amount:
                  <b
                    >{{
                      currenyService.getFormattedAmount(
                        disbursement.grant.amount
                      )
                    }}
                  </b>
                  &nbsp;&nbsp;<span>{{
                    currenyService.getAmountInWords(disbursement.grant.amount)
                  }}</span>
                </p>
              </div>
              <div class="col-2">
                <span
                  [class]="
                    'badge state-' +
                    disbursement.status.internalStatus.toLowerCase()
                  "
                  style="color: #000 !important"
                  >{{ disbursement.status.displayName }}</span
                >
              </div>
              <div
                class="col-10 text-left pt-3"
              >
                <p class="text-subheader mb-0">Requested Amount:</p>
                <p class="text-header text-left m-0">
                  <span class="search-context-grant-selection">
                  {{
                    currenyService.getFormattedAmount(
                      disbursement.requestedAmount
                    )
                  }}</span>
                  <span class="text-subheader ml-3">
                    {{
                      currenyService.getAmountInWords(
                        disbursement.requestedAmount
                      )
                    }}</span
                  >
                </p>
              </div>
              <div
                class="col-2"
                style="
                  display: flex;
                  align-items: center;
                  justify-content: center;
                "
              >
                <button
                  *ngIf="
                    disbursement.canManage &&
                    disbursement.status.internalStatus === 'DRAFT'
                  "
                  class="btn btn-sm btn-red mx-0"
                  (click)="deleteDisbursement(disbursement)"
                >
                  Delete
                </button>
              </div>
            </div>
  </div>
</div>

