<span class="" style="position:absolute; right: 18px; left: auto;top: 15px; z-index: 1;" (click)="onNoClick()">
  <mat-icon>close</mat-icon>
</span>
<div class="row">
  <div class="col-9" style="display: flex;align-items: center;justify-content: flex-end;min-height: 53px;">
    <app-search-filter #appSearchFilter1 [searchContext]="'.search-context-grant-selection'" [scollableArea]="'.scrollable'" *ngIf="!searchClosed" [turnOffSearch]="searchClosed" [ready]="filterReady" (highlightDone)="resetFilterFlag($event)" (filterCriteria)="startFilter($event)" (close)="closeSearch($event)" style="transition: display 2s;"></app-search-filter>
    <mat-icon (click)="openSearch()" style="position: absolute; right: 0; margin-right: 20px;">search</mat-icon>
    
  </div>
  <div class="col-3"></div>
</div>
<div class="row mb-3">
  <div class="col-12">
    <div class="text-green mb-0 ng-star-inserted w-100 text-center" style="font-weight: 500;font-size: 1.2em;">{{title}}</div>
  </div>
  
  <div class="col-12 scrollable" style="overflow-y: scroll;height: inherit;min-height: calc(100vh - 180px) !important;max-height: calc(100vh - 180px) !important;" *ngIf="_for==='grant'">
    <div
              [ngClass]="uiService.getGrantCardStyle(grant,appComp)"
              style="cursor: pointer"
              *ngFor="let grant of filteredGrants; let i = index; let last = last;"
              (click)="manageGrant(grant)"
            >
            <div class="d-flex align-items-center grant-delete">
              <mat-icon class="text-red">delete_outline</mat-icon>
            </div>
              
              <div class="col-12 text-left search-context">
                <i *ngIf="grant.grantTags.length===1" class="fas fa-tag fa-xs ml-2 grant-tags"></i>
                <i *ngIf="grant.grantTags.length>1" class="fas fa-tags fa-xs ml-2 grant-tags"></i>
                <p
                  class="text-header-h1 mb-1"
                  *ngIf="!grant.referenceNo"
                  style="font-size: 18px"
                >
                  <span
                    class="text-subheader pl-0"
                    style="font-weight: 600; font-size: 12px;display:flex;"
                    *ngIf="
                      (grant.grantStatus.internalStatus === 'DRAFT' ||
                        grant.grantStatus.internalStatus === 'REVIEW') &&
                      grant.origGrantId
                    "
                  >
                  <mat-icon [inline]="true" class="material-icons-outlined text-red mr-1 mb-1">
                    info_outline
                  </mat-icon>
                    Amendment in-progress [<b>{{ grant.origGrantRefNo }}</b
                    >]
                  </span>
                </p>
                <p>{{ grant.name }}</p>
                  <p
                  class="text-header-h1 mb-1"
                  *ngIf="grant.referenceNo"
                  style="font-size: 18px"
                >
                  <span
                    class="text-red pl-0"
                    style="font-size: 10px; font-weight: normal"
                    *ngIf="
                      (grant.grantStatus.internalStatus === 'DRAFT' ||
                        grant.grantStatus.internalStatus === 'REVIEW') &&
                      grant.origGrantId
                    ">Amendment in-progress [<span>{{ grant.origGrantRefNo }}</span>]</span>
                  <span>{{ grant.name }}</span>
                </p>
              </div>
              
              <div class="col-12 text-left search-context mb-3">
                <div class="text-header mb-2">
                  {{ grant.organization ? grant.organization.name : null }}
                </div>
              </div>
              <div
                class="col-4 text-left"
                style="border-right: 1px solid #d4d4d4"
              >
                <div class="row">
                  <div class="col-12 mt-1">
                    <div class="row">
                      <div class="col-12 mb-0 pr-0">
                        ₹
                        <span class="text-header mr-4 search-context">{{
                          getFormattedGrantAmount(grant.amount)
                        }}</span><span class="text-subheader"><small>{{getGrantAmountInWords(grant.amount)}}</small></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 mt-4">
                    <p class="mb-0 text-header">
                      <mat-icon [inline]="true" class="mr-1"
                        >calendar_today</mat-icon
                      >
                      {{ grant.startDate | date: "dd-MMM-yyyy" }}
                      -
                      {{ grant.endDate | date: "dd-MMM-yyyy" }}
                      <span class="ml-2 text-subheader">({{ grantService.getDateDuration(grant) }})</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-5">
                <div class="row">
                  <div class="col-12 mt-2 text-left">
                    <div class="row">
                      <div
                        class="col-12 text-subheader">
                        Disbursed <small>(till date)</small>:<span class="text-header">
                          Applicable to Active grants only</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 mt-2 text-left">
                    <div class="row">
                      <div class="col-12 text-subheader" style="">
                        Approved Reports :<span class="text-header">
                          Applicable to Active grants only</span
                        >
                      </div>
    
                    </div>
                  </div>
                  <div class="col-12 mt-2 text-left">
                    <div class="row">
                      <div class="col-12 text-subheader" style="">
                        Project Documents:<span class="text-header">
                          {{
                            grant.projectDocumentsCount === 0
                              ? "none"
                              : grant.projectDocumentsCount
                          }}</span
                        >
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
              <div class="col-3 text-left">
                <div class="status-indicator2">
                  <div [class]="'text-center status-icon state-'+grant.grantStatus.internalStatus.toLowerCase()">
                  </div>{{grant.grantStatus.name | uppercase}}
                </div>
                <div class="text-center text-subheader pl-3 mt-2 search-context">{{grant.ownerName}}</div>
              </div>
              <div class="col-9"></div>
              <div *ngIf="appComp.loggedInUser.organization.organizationType!=='GRANTEE'" [ngStyle]="{'background-color':getGrantTypeColor(grant.grantTypeId),'border-bottom-right-radius':'4px'}" class="col-3 p-1 d-flex align-items-center justify-content-center">
                <div class="float-right" >
                  <small>{{getGrantTypeName(grant.grantTypeId)}}</small>
                </div>
              </div>
              
              
            </div>
  </div>
  <div class="col-12 scrollable" style="overflow-y: scroll;height: inherit;min-height: calc(100vh - 180px) !important;max-height: calc(100vh - 180px) !important;" *ngIf="_for==='report'">
    <div *ngIf="!filteredReports">
      <img src="./assets/img/loader.gif" style="width: 10%" />
      <p style="color: black">Loading upcoming reports...</p>
    </div>
    <div
      *ngIf="filteredReports && filteredReports.length === 0"
    >
      <p style="color: black">No reports found</p>
    </div>
    <div
      [ngClass]="uiService.getReportCardStyle(report,appComp)"
      style="cursor: pointer"
      *ngFor="let report of filteredReports; let i = index"
      (click)="manageReport(report)"
    >
    <div class="d-flex align-items-center report-delete" *ngIf="(report.canManage && report.status.internalStatus === 'DRAFT') || (!report.canManage && report.disabledByAmendment)" (click)="deleteReport(report)">
      <mat-icon class="text-red">delete_outline</mat-icon>
    </div>
      <div class="col-12 mb-1 mt-2">
        <p
          *ngIf="report.disabledByAmendment"
          class="mb-0 text-subheader d-flex align-items-center text-left mt-2"
          style="font-weight: 600; font-size: 12px"
        >
        <mat-icon [inline]="true" class="material-icons-outlined text-grey mr-1 mb-1">
          info_outline
        </mat-icon>
          Underlying grant has been amended. Please check if this
          report is still valid.
        </p>
        <div class="text-subheader text-left mb-0">
          <div class="mb-1"><span  class="search-context">{{
            (report.grant.referenceNo
              ? report.grant.referenceNo + " | "
              : "") + report.grant.name
          }}</span></div>
          
          <div class="mb-1"><span *ngIf="isExternalGrant(report.grant)" class=" mt-1 search-context">{{
            report.grant.organization
              ? report.grant.organization.name
              : ""
          }}</span> 
          <span *ngIf="!isExternalGrant(report.grant)" class="mt-1 search-context">{{
            report.grant.grantorOrganization.name
          }}</span> </div>
          
          <div class="mt-1">
            <span
            >{{ getFormattedGrantAmount(report.grant.amount) }}
          </span>
          &nbsp;&nbsp;<span class="text-subheader"><small>({{
            getGrantAmountInWords(report.grant.amount)
          }})</small></span>
          </div>
          
        </div>
      </div>
      <div class="col-9 mb-2" style="display: flex; align-items: center">
        <div class="row">
          <div class="col-12 my-4">
            <div class="text-header text-left mr-3" (click)="manageReport(report)">
              <span class="search-context">{{ report.name }}</span> | {{ report.dueDate | date: "dd-MMM-yyyy" }}
              <!-- <ng-container *ngIf="report.futureReportsCount" class="col-2">
                <div>
                  <small>
                    <a
                      (click)="viewAddnlReports(report.id, report.grant.id,'upcoming')"
                      class="text-blue"
                      (mouseenter)="highlight($event, true)"
                      (mouseleave)="highlight($event, false)">
                      See additional reports ({{report.futureReportsCount}})</a>
                    </small>
                  </div>
              </ng-container>
              <ng-container *ngIf="!report.futureReportsCount" class="col-2">
                <div>
                  <small class="ml-0"><a class="text-grey"> Additional reports not available</a></small>
                </div>
                
              </ng-container> -->
            </div>
          </div>
          <div class="col-12 px-0">
            <div class="col-10 py-1 px-3">
              <div class="row mb-0">
                <div class="col-5">
                  <p class="mb-0 text-subheader text-left">
                    Reporting Time Frame:
                  </p>
                </div>
                <div class="col-3">
                  <p class="mb-0 text-subheader text-left">Report Type:</p>
                </div>
                <div class="col-4">
                  <p class="mb-0 text-subheader text-left">
                    Submission Due Date
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-5 pr-0 text-left text-header">
                  {{ report.startDate | date: "dd-MMM-yyyy" }} - {{ report.endDate | date: "dd-MMM-yyyy" }}
                </div>
                <div class="col-3">
                  <p class="text-left text-header my-0">
                    {{ report.type === "adhoc" ? "Ad hoc" : report.type }}
                  </p>
                </div>
                <div class="col-4">
                  <p class="text-left text-header my-0">
                    {{ report.dueDate | date: "dd-MMM-yyyy" }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      <div class="col-3">
        <div class="row">
          <div class="col-12">
            <div class="status-indicator2">
              <div [class]="'text-center status-icon state-'+report.status.internalStatus.toLowerCase()">
              </div>{{report.status.name | uppercase}}
            </div>
            <div class="text-center text-subheader pl-3 mt-2 search-context">{{report.ownerName}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 scrollable" style="overflow-y: scroll;height: inherit;min-height: calc(100vh - 180px) !important;max-height: calc(100vh - 180px) !important;" *ngIf="_for==='disbursement'">
    <div
              [ngClass]="uiService.getDisbursementCardStyle(disbursement,appComp)"
              style="cursor: pointer"
              *ngFor="let disbursement of filteredDisbursements; let i = index"
              (click)="manageDisbursement(disbursement)"
            >
            <div class="d-flex align-items-center disbursement-delete" *ngIf="(disbursement.canManage && disbursement.status.internalStatus === 'DRAFT')" (click)="deleteDisbursement(disbursement)">
              <mat-icon class="text-red">delete_outline</mat-icon>
            </div>
              <div class="col-9 mb-1 search-context px-0">
                <div *ngIf="disbursement.disabledByAmendment" class="mb-0 text-subheader d-flex align-items-center text-left" style="font-weight: 600; font-size: 12px">
                  Underlying grant has been amended. Please check if this
                  disbursement is still valid
                </div>
                
                <div class="text-subheader text-left mb-0 mt-2 ml-3">
                 <div class="mb-1"><span>{{ (disbursement.grant.referenceNo? disbursement.grant.referenceNo + " | ": "") + disbursement.grant.name}}</span></div>
                 <div class="mb-1"><span *ngIf="isExternalGrant(disbursement.grant)">{{disbursement.grant.organization? disbursement.grant.organization.name: ""}}</span> </div>
                 <div class="mb-1"><span *ngIf="!isExternalGrant(disbursement.grant)">{{disbursement.grant.grantorOrganization.name}}</span></div>

                 <div class="mt-1">
                  <span>{{currenyService.getFormattedAmount(disbursement.grant.amount)}}</span>
                    &nbsp;&nbsp;<span class="text-subheader"><small>({{currenyService.getAmountInWords(disbursement.grant.amount)}})</small></span>
                  </div>
                </div>
              </div>
              <div class="col-3 d-flex align-items-end justify-content-center">
                <div class="row">
                  <div class="col-12">
                    <div class="status-indicator2">
                      <div [class]="'text-center status-icon state-'+disbursement.status.internalStatus.toLowerCase()">
                      </div>{{disbursement.status.name | uppercase}}
                    </div>
                    <div class="text-center text-subheader pl-3 mt-2 search-context">{{disbursement.ownerName}}</div>
                  </div>
                </div>
              </div>
              <div class="col-10 text-left pt-3" (click)="manageDisbursement(disbursement)">
                <div class="row mb-2">
                  <div class="col-12">
                    <div class="text-subheader mb-0"><p class="mb-0">Requested Amount:</p> <span class="text-header search-context">
                      {{
                        currenyService.getFormattedAmount(
                          disbursement.requestedAmount
                        )
                      }}</span>&nbsp;&nbsp;<span class="text-subheader ml-3"><small>
                    {{
                      currenyService.getAmountInWords(
                        disbursement.requestedAmount
                      )
                    }}</small></span>
                  </div>
                  </div>
                </div>
              </div>
            </div>
  </div>
</div>