<span class="" style="position:absolute; right: 20px; left: auto;top: 10px;" (click)="onNoClick()">
  <mat-icon>close</mat-icon>
</span>
<h4 mat-dialog-title class="text-center mb-4" style="font-size:14px;">
  <div class="row mx-3">
    <div class="col-12"><h5>Grants Comparision</h5></div>
    <div class="col-2 d-flex align-items-center"><p class="text-header text-right w-100 mb-0">Current Grant</p></div> <div class="col-10 text-left py-2 pr-0" style="border-left: 10px solid #009900 !important;"><span><span *ngIf="newGrant.referenceNo">{{newGrant.referenceNo}}</span>{{newGrant.name}}</span></div>
    <div class="col-2 d-flex align-items-center"><p class="text-header text-right w-100 mb-0">Compared with Grant</p></div><div class="col-10 text-left py-2 pr-0" style="border-left: 10px solid #4b4b4b !important;background: rgb(240, 240, 240) !important;"><span><span *ngIf="oldGrant.referenceNo">{{oldGrant.referenceNo}}</span>{{oldGrant.name}}</span></div>
  </div>
</h4>
<h5 *ngIf="!grantDiff" class="text-center mt-5">There are no differences between the two grants</h5>
<div *ngIf="grantDiff" style="background: rgb(255, 255, 255);padding: 5px;overflow-y: scroll;height: calc(100vh - 248px);">
  <div *ngIf="grantDiff.oldGrantName || grantDiff.newGrantName" class="mb-2 change-box">
    <span class="change-title"><span>Grant Header Change | </span>Name changed</span>
    <div class="change-new" *ngIf="grantDiff.newGrantName">{{grantDiff.newGrantName}}</div>
    <div *ngIf="grantDiff.newGrantName && !grantDiff.oldGrantName" class="text-danger"><i><small>Currently has no
          value</small></i></div>
    <div class="change-old" *ngIf="grantDiff.oldGrantName">{{grantDiff.oldGrantName}}</div>
    <div *ngIf="grantDiff.oldGrantName && !grantDiff.newGrantName" class="text-white"><i><small>Previously had no
          value</small></i></div>
  </div>
  <div *ngIf="grantDiff.oldGrantStartDate || grantDiff.newGrantStartDate" class="mb-2 change-box">
    <span class="change-title"><span>Grant Header Change | </span>Start date changed</span>
    <div class="change-new" *ngIf="grantDiff.newGrantStartDate">{{grantDiff.newGrantStartDate | date:'dd-MMM-yyyy'}}
    </div>
    <div *ngIf="!grantDiff.newGrantStartDate && grantDiff.oldGrantStartDate" class="text-danger"><i><small>Currently
          has no value</small></i></div>
    <div class="change-old" *ngIf="grantDiff.oldGrantStartDate">{{grantDiff.oldGrantStartDate | date:'dd-MMM-yyyy'}}
    </div>
    <div *ngIf="!grantDiff.oldGrantStartDate && grantDiff.newGrantStartDate" class="text-white"><i><small>Previously
          had no value</small></i></div>
  </div>
  <div *ngIf="grantDiff.oldGrantEndDate || grantDiff.newGrantEndDate" class="mb-2 change-box">
    <span class="change-title"><span>Grant Header Change | </span>End date changed</span>
    <div class="change-new" *ngIf="grantDiff.newGrantEndDate">{{grantDiff.newGrantEndDate | date:'dd-MMM-yyyy'}}
    </div>
    <div *ngIf="!grantDiff.newGrantEndDate && grantDiff.oldGrantEndDate" class="text-danger"><i><small>Currently has
          no value</small></i></div>
    <div class="change-old" *ngIf="grantDiff.oldGrantEndDate">{{grantDiff.oldGrantEndDate | date:'dd-MMM-yyyy'}}
    </div>
    <div *ngIf="!grantDiff.oldGrantEndDate && grantDiff.newGrantEndDate" class="text-white"><i><small>Previously had
          no value</small></i></div>
  </div>
  <div *ngIf="grantDiff.oldGrantAmount || grantDiff.newGrantAmount" class="mb-2 change-box">
    <span class="change-title"><span>Grant Header Change | </span>Amount changed</span>
    <div class="change-new" *ngIf="grantDiff.newGrantAmount">{{currencyService.getFormattedAmount(grantDiff.newGrantAmount)}}</div>
    <div *ngIf="!grantDiff.newGrantAmount && grantDiff.oldGrantAmount" class="text-danger"><i><small>Currently has
          no value</small></i></div>
    <div class="change-old" *ngIf="grantDiff.oldGrantAmount">{{currencyService.getFormattedAmount(grantDiff.oldGrantAmount)}}</div>
    <div *ngIf="!grantDiff.oldGrantAmount && grantDiff.newGrantAmount" class="text-white"><i><small>Previously had
          no value</small></i></div>
  </div>
  <div *ngIf="grantDiff.oldGrantee || grantDiff.newGrantee" class="mb-2 change-box">
    <span class="change-title"><span>Grant Header Change | </span>Implementing organization changed</span>
    <div class="change-new" *ngIf="grantDiff.newGrantee">{{grantDiff.newGrantee}}</div>
    <div *ngIf="!grantDiff.newGrantee && grantDiff.oldGrantee" class="text-danger"><i><small>Currently has no
          value</small></i></div>
    <div class="change-old" *ngIf="grantDiff.oldGrantee">{{grantDiff.oldGrantee}}</div>
    <div *ngIf="!grantDiff.oldGrantee && grantDiff.newGrantee" class="text-white"><i><small>Previously had no
          value</small></i></div>
  </div>
  <div *ngIf="grantDiff.oldRep || grantDiff.newRep" class="mb-2 change-box">
    <span class="change-title"><span>Grant Header Change | </span>Implementing Organization Representative changed</span>
    <div class="change-new" *ngIf="grantDiff.newRep">{{grantDiff.newRep}}</div>
    <div *ngIf="!grantDiff.newRep && grantDiff.oldRep" class="text-danger"><i><small>Currently has no
          value</small></i></div>
    <div class="change-old" *ngIf="grantDiff.oldRep">{{grantDiff.oldRep}}</div>
    <div *ngIf="!grantDiff.oldRep && grantDiff.newRep" class="text-white"><i><small>Previously had no
          value</small></i></div>
  </div>
  <ng-container *ngIf="grantDiff.sectionDiffs">
    <ng-container *ngFor="let sectionDiff of grantDiff.sectionDiffs">
      <ng-container *ngIf="sectionDiff.hasSectionLevelChanges">
        <div *ngIf="sectionDiff.oldSection && sectionDiff.newSection" class="mb-2 change-box">
          <span class="change-title"><span>Grant Details Change | </span>Name changed</span>
          <div class="change-new">{{sectionDiff.newSection.name}}</div>
          <div class="change-old">{{sectionDiff.oldSection.name}}</div>
        </div>
        <div *ngIf="sectionDiff.oldSection && !sectionDiff.newSection" class="mb-2 change-box">
          <span class="change-title"><span>Grant Details Change | </span>Existing section deleted</span>
          <div class="change-delete">{{sectionDiff.oldSection.name}}</div>
        </div>
        <div *ngIf="!sectionDiff.oldSection && sectionDiff.newSection" class="mb-2 change-box">
          <span class="change-title"><span>Grant Details Change | </span>New section added</span>
          <div class="change-new">{{sectionDiff.newSection.name}}</div>
        </div>
      </ng-container>
      <ng-container *ngIf="!sectionDiff.hasSectionLevelChanges">
        <ng-container *ngIf="sectionDiff.attributesDiffs">
          <ng-container *ngFor="let attrDiff of sectionDiff.attributesDiffs">
            <div *ngIf="attrDiff.oldAttribute && attrDiff.newAttribute" class="mb-2 change-box">
              <span class="change-title"><span>Grant Details Change | </span>Changes in section <b>{{attrDiff.section}}</b></span>
              <div class="row change-new m-0" style="display: flex;">
                <div class="col-4"><label class="mb-0 text-subheader">Field Name:</label>
                  <p>{{attrDiff.newAttribute.name}}</p>
                </div>
                <div class="col-2"><label class="mb-0 text-subheader">Field Type:</label>
                  <p>{{getType(attrDiff.newAttribute.type)}}</p>
                </div>
                <div *ngIf="attrDiff.newAttribute.type==='multiline'" class="col-6"><label class="mb-0">Field Value:</label>
                  <pre>{{attrDiff.newAttribute.value}}</pre>
                </div>
                <div *ngIf="attrDiff.newAttribute.type==='kpi'" class="col-3">
                  <label class="mb-0">Target/Goal:</label>
                  <p>{{attrDiff.newAttribute.target}}</p>
                </div>
                <div *ngIf="attrDiff.newAttribute.type==='kpi'" class="col-3">
                  <label class="mb-0">Frequency:</label>
                  <p *ngIf="attrDiff.newAttribute.frequency!=='half-yearly'">
                    {{attrDiff.newAttribute.frequency | titlecase}}</p>
                  <p *ngIf="attrDiff.newAttribute.frequency==='half-yearly'">Half Yearly</p>
                </div>
                <div *ngIf="attrDiff.newAttribute.type==='table'" class="col-12"
                  [innerHTML]="getTabularData(attrDiff.newAttribute.tableValue)">
                </div>
                <div *ngIf="attrDiff.newAttribute.type==='disbursement'" class="col-12"
                  [innerHTML]="getDisbursementTabularData(attrDiff.newAttribute.tableValue)">
                </div>
                <div *ngIf="attrDiff.newAttribute.type==='document'" class="col-12">
                  <ul>
                    <li *ngFor="let doc of getDocumentName(attrDiff.newAttribute.value)">
                      {{doc.name}}
                    </li>
                  </ul>
                </div>
              </div>
              <div class="row change-old m-0" style="display: flex;">
                <div class="col-4"><label class="mb-0 text-subheader">Field Name:</label>
                  <p>{{attrDiff.oldAttribute.name}}</p>
                </div>
                <div class="col-2"><label class="mb-0 text-subheader">Field Type:</label>
                  <p>{{getType(attrDiff.oldAttribute.type)}}</p>
                </div>
                <div *ngIf="attrDiff.oldAttribute.type==='multiline'" class="col-6"><label class="mb-0">Field Value:</label>
                  <pre>{{attrDiff.oldAttribute.value}}</pre>
                </div>
                <div *ngIf="attrDiff.oldAttribute.type==='kpi'" class="col-3">
                  <label class="mb-0">Target/Goal:</label>
                  <p>{{attrDiff.oldAttribute.target}}</p>
                </div>
                <div *ngIf="attrDiff.oldAttribute.type==='kpi'" class="col-3">
                  <label class="mb-0">Frequency:</label>
                  <p *ngIf="attrDiff.oldAttribute.frequency!=='half-yearly'">
                    {{attrDiff.oldAttribute.frequency | titlecase}}</p>
                  <p *ngIf="attrDiff.oldAttribute.frequency==='half-yearly'">Half Yearly</p>
                </div>
                <div *ngIf="attrDiff.oldAttribute.type==='table'" class="col-12"
                  [innerHTML]="getTabularData(attrDiff.oldAttribute.tableValue)">
                </div>
                <div *ngIf="attrDiff.oldAttribute.type==='disbursement'" class="col-12"
                  [innerHTML]="getDisbursementTabularData(attrDiff.oldAttribute.tableValue)">
                </div>
                <div *ngIf="attrDiff.oldAttribute.type==='document'" class="col-12">
                  <ul>
                    <li *ngFor="let doc of getDocumentName(attrDiff.oldAttribute.value)">
                      {{doc.name}}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div *ngIf="attrDiff.oldAttribute && !attrDiff.newAttribute" class="mb-2 change-box">
              <span class="change-title"><span>Grant Details Change | </span>Deleted in section <b>{{attrDiff.section}}</b></span>
              <div class="row change-delete m-0" style="display: flex;">
                <div class="col-4"><label class="mb-0 text-subheader">Field Name:</label>
                  <p>{{attrDiff.oldAttribute.name}}</p>
                </div>
                <div class="col-2"><label class="mb-0 text-subheader">Field Type:</label>
                  <p>{{getType(attrDiff.oldAttribute.type)}}</p>
                </div>
                <div *ngIf="attrDiff.oldAttribute.type==='multiline'" class="col-6"><label class="mb-0">Field Value:</label>
                  <pre>{{attrDiff.oldAttribute.value}}</pre>
                </div>
                <div *ngIf="attrDiff.oldAttribute.type==='kpi'" class="col-3">
                  <label class="mb-0">Target/Goal:</label>
                  <p>{{attrDiff.oldAttribute.target}}</p>
                </div>
                <div *ngIf="attrDiff && attrDiff.oldAttribute && attrDiff.oldAttribute.type==='kpi'" class="col-3">
                  <label class="mb-0">Frequency:</label>
                  <p *ngIf="attrDiff.newAttribute && attrDiff.newAttribute.frequency!=='half-yearly'">
                    {{attrDiff.newAttribute.frequency | titlecase}}</p>
                  <p *ngIf="attrDiff.newAttribute && attrDiff.newAttribute.frequency==='half-yearly'">Half Yearly</p>
                </div>
                <div *ngIf="attrDiff.oldAttribute.type==='table'" class="col-12"
                  [innerHTML]="getTabularData(attrDiff.oldAttribute.tableValue)">
                </div>
                <div *ngIf="attrDiff.oldAttribute.type==='disbursement'" class="col-12"
                  [innerHTML]="getDisbursementTabularData(attrDiff.oldAttribute.tableValue)">
                </div>
                <div *ngIf="attrDiff.oldAttribute.type==='document'" class="col-12">
                  <ul>
                    <li *ngFor="let doc of getDocumentName(attrDiff.oldAttribute.value)">
                      {{doc.name}}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div *ngIf="!attrDiff.oldAttribute && attrDiff.newAttribute" class="mb-2 change-box">
              <span class="change-title"><span>Grant Details Change | </span>Added in section <b>{{attrDiff.section}}</b></span>
              <div class="row change-new m-0" style="display: flex;">
                <div class="col-4"><label class="mb-0 text-subheader">Field Name:</label>
                  <p>{{attrDiff.newAttribute.name}}</p>
                </div>
                <div class="col-2"><label class="mb-0 text-subheader">Field Type:</label>
                  <p>{{getType(attrDiff.newAttribute.type)}}</p>
                </div>
                <div *ngIf="attrDiff.newAttribute.type==='multiline'" class="col-6"><label class="mb-0">Field Value:</label>
                  <pre>{{attrDiff.newAttribute.value}}</pre>
                </div>
                <div *ngIf="attrDiff.newAttribute.type==='kpi'" class="col-3">
                  <label class="mb-0">Target/Goal:</label>
                  <p>{{attrDiff.newAttribute.target}}</p>
                </div>
                <div *ngIf="attrDiff.newAttribute.type==='kpi'" class="col-3">
                  <label class="mb-0">Frequency:</label>
                  <p *ngIf="attrDiff.newAttribute.frequency!=='half-yearly'">
                    {{attrDiff.newAttribute.frequency | titlecase}}</p>
                  <p *ngIf="attrDiff.newAttribute.frequency==='half-yearly'">Half Yearly</p>
                </div>
                <div *ngIf="attrDiff.newAttribute.type==='table'" class="col-12"
                  [innerHTML]="getTabularData(attrDiff.newAttribute.tableValue)">
                </div>
                <div *ngIf="attrDiff.newAttribute.type==='disbursement'" class="col-12"
                  [innerHTML]="getDisbursementTabularData(attrDiff.newAttribute.tableValue)">
                </div>
                <div *ngIf="attrDiff.newAttribute.type==='document'" class="col-12">
                  <ul>
                    <li *ngFor="let doc of getDocumentName(attrDiff.newAttribute.value)">
                      {{doc.name}}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>



</div>