<span *ngIf="isStandAlone" class="" style="position:absolute; right: 20px; left: auto;top: 10px;" (click)="onNoClick()">
  <mat-icon>close</mat-icon>
</span>
<h4 mat-dialog-title class="text-center mb-4" style="font-size:14px;">
  <div class="row mx-3">
    <div class="col-12"><h5>{{title}}</h5>
      <div *ngIf="_compareType==='weak'" class="text-subheader">
        <mat-icon [inline]="true" class="material-icons-outlined text-grey mr-1">
          info_outline
        </mat-icon>Comparions may not be accurate
      </div>
    </div>
    
    <div class="col-2 d-flex align-items-center">
      <p class="text-header text-right w-100 mb-0">{{compare1}}</p>
    </div> 
      <div class="col-7 text-left py-2 pr-0" style="border-left: 10px solid #009900 !important;">
        <span>
          <span  *ngIf="_for==='Grant' && newItem.referenceNo" [ngStyle]="_for==='Disbursement'?{'line-height': '1.5em','display': 'inline-block'}:{}">{{newItem.referenceNo}}</span>{{_for!=='Disbursement'?newItem.name:'Approval Request for ' + newItem.grantName}}
        </span>
      </div>
      <div class="col-3 d-flex align-items-center justify-content-center flex-column py-2">
        <div class="status-indicator2" *ngIf="newItem.currentInternalStatus">
        <div [class]="'text-center status-icon state-'+newItem.currentInternalStatus.toLowerCase()">
        </div>{{newItem.currentStatus | uppercase}}
      </div>
      <div class="text-center text-subheader pl-3 search-context">{{newItem.currentOwner}}</div>
    </div>
    <div class="col-2 d-flex align-items-center">
      <p class="text-header text-right w-100 mb-0">{{compare2}}</p>
    </div>
    <div class="col-7 text-left py-2 pr-0" style="border-left: 10px solid #4b4b4b !important;background: rgb(240, 240, 240) !important;">
      <span>
        <span  *ngIf="_for==='Grant' && oldItem.referenceNo" [ngStyle]="_for==='Disbursement'?{'line-height': '1.5em','display': 'inline-block'}:{}">{{oldItem.referenceNo}}</span>{{_for!=='Disbursement'?oldItem.name:'Approval Request for ' + oldItem.grantName}}
        </span>
    </div>
    <div class="col-3 d-flex align-items-center justify-content-center flex-column py-2">
      <div class="status-indicator2" *ngIf="oldItem.currentInternalStatus">
        <div [class]="'text-center status-icon state-'+oldItem.currentInternalStatus.toLowerCase()">
        </div>{{oldItem.currentStatus | uppercase}}
      </div>
      <div class="text-center text-subheader pl-3 search-context">{{oldItem.currentOwner}}</div>
    </div>
  </div>
</h4>
<ng-container *ngIf="_for==='Grant'">
<h5 *ngIf="!grantDiff" class="text-center mt-5">There are no differences between the two grants</h5>
<div *ngIf="grantDiff" style="background: rgb(255, 255, 255);padding: 5px;overflow-y: scroll;overflow-x:hidden;height: calc(100vh - 280px);">
  <div *ngIf="grantDiff.oldGrantName || grantDiff.newGrantName" class="mb-2 change-box">
    <span class="change-title"><span>Grant Header | </span>Name changed</span>
    <div class="change-new" *ngIf="grantDiff.newGrantName">{{grantDiff.newGrantName}}</div>
    <div *ngIf="grantDiff.newGrantName && !grantDiff.oldGrantName" class="text-danger"><i><small>Currently has no
          value</small></i></div>
    <div class="change-old" *ngIf="grantDiff.oldGrantName">{{grantDiff.oldGrantName}}</div>
    <div *ngIf="grantDiff.oldGrantName && !grantDiff.newGrantName" class="text-white"><i><small>Previously had no
          value</small></i></div>
  </div>
  <div *ngIf="grantDiff.oldGrantStartDate || grantDiff.newGrantStartDate" class="mb-2 change-box">
    <span class="change-title"><span>Grant Header | </span>Start date changed</span>
    <div class="change-new" *ngIf="grantDiff.newGrantStartDate">{{grantDiff.newGrantStartDate | date:'dd-MMM-yyyy'}}
    </div>
    <div *ngIf="!grantDiff.newGrantStartDate && grantDiff.oldGrantStartDate" class="text-danger"><i><small>Currently
          has no value</small></i></div>
    <div class="change-old" *ngIf="grantDiff.oldGrantStartDate">{{grantDiff.oldGrantStartDate | date:'dd-MMM-yyyy'}}
    </div>
    <div *ngIf="!grantDiff.oldGrantStartDate && grantDiff.newGrantStartDate" class="text-white"><i><small>Previously
          had no value</small></i></div>
  </div>
  <div *ngIf="grantDiff.oldGrantEndDate || grantDiff.newGrantEndDate" class="mb-2 change-box">
    <span class="change-title"><span>Grant Header | </span>End date changed</span>
    <div class="change-new" *ngIf="grantDiff.newGrantEndDate">{{grantDiff.newGrantEndDate | date:'dd-MMM-yyyy'}}
    </div>
    <div *ngIf="!grantDiff.newGrantEndDate && grantDiff.oldGrantEndDate" class="text-danger"><i><small>Currently has
          no value</small></i></div>
    <div class="change-old" *ngIf="grantDiff.oldGrantEndDate">{{grantDiff.oldGrantEndDate | date:'dd-MMM-yyyy'}}
    </div>
    <div *ngIf="!grantDiff.oldGrantEndDate && grantDiff.newGrantEndDate" class="text-white"><i><small>Previously had
          no value</small></i></div>
  </div>
  <div *ngIf="grantDiff.oldGrantAmount || grantDiff.newGrantAmount" class="mb-2 change-box">
    <span class="change-title"><span>Grant Header | </span>Amount changed</span>
    <div class="change-new" *ngIf="grantDiff.newGrantAmount">{{currencyService.getFormattedAmount(grantDiff.newGrantAmount)}}</div>
    <div *ngIf="!grantDiff.newGrantAmount && grantDiff.oldGrantAmount" class="text-danger"><i><small>Currently has
          no value</small></i></div>
    <div class="change-old" *ngIf="grantDiff.oldGrantAmount">{{currencyService.getFormattedAmount(grantDiff.oldGrantAmount)}}</div>
    <div *ngIf="!grantDiff.oldGrantAmount && grantDiff.newGrantAmount" class="text-white"><i><small>Previously had
          no value</small></i></div>
  </div>
  <div *ngIf="grantDiff.oldGrantee || grantDiff.newGrantee" class="mb-2 change-box">
    <span class="change-title"><span>Grant Header | </span>Implementing organization changed</span>
    <div class="change-new" *ngIf="grantDiff.newGrantee">{{grantDiff.newGrantee}}</div>
    <div *ngIf="!grantDiff.newGrantee && grantDiff.oldGrantee" class="text-danger"><i><small>Currently has no
          value</small></i></div>
    <div class="change-old" *ngIf="grantDiff.oldGrantee">{{grantDiff.oldGrantee}}</div>
    <div *ngIf="!grantDiff.oldGrantee && grantDiff.newGrantee" class="text-white"><i><small>Previously had no
          value</small></i></div>
  </div>
  <div *ngIf="grantDiff.oldRep || grantDiff.newRep" class="mb-2 change-box">
    <span class="change-title"><span>Grant Header | </span>Implementing Organization Representative changed</span>
    <div class="change-new" *ngIf="grantDiff.newRep">{{grantDiff.newRep}}</div>
    <div *ngIf="!grantDiff.newRep && grantDiff.oldRep" class="text-danger"><i><small>Currently has no
          value</small></i></div>
    <div class="change-old" *ngIf="grantDiff.oldRep">{{grantDiff.oldRep}}</div>
    <div *ngIf="!grantDiff.oldRep && grantDiff.newRep" class="text-white"><i><small>Previously had no
          value</small></i></div>
  </div>

  <ng-container *ngIf="grantDiff.orderDiffs && grantDiff.orderDiffs.length>0">
    <div class="mb-2 change-box">
      <span class="change-title"><span>Grant Details | </span>Section order changes</span>
      <div class="change-new">
        <ng-container *ngFor="let diff of grantDiff.orderDiffs;let i=index;">
            <ng-container *ngIf="diff.type==='new'">
            <p class="mb-0">{{diff.name}}</p>
          </ng-container>
      </ng-container>
      </div>
      <div class="change-old">
        <ng-container *ngFor="let diff of grantDiff.orderDiffs;let j=index">
            <ng-container *ngIf="diff.type==='old'">
            <p class="mb-0">{{diff.name}}</p>
          </ng-container>
      </ng-container>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="grantDiff.sectionDiffs">
    <ng-container *ngFor="let sectionDiff of grantDiff.sectionDiffs">
      <ng-container *ngIf="sectionDiff.hasSectionLevelChanges">
        <ng-container *ngIf="sectionDiff.attributeOrderDiffs && sectionDiff.attributeOrderDiffs.length>0">
          <span class="change-title"><span>Grant Details | </span>Field order changes in section <strong>{{sectionDiff.newSection.name}}</strong></span>
          
            <div class="mb-2 change-box">
          
          <div class="change-new">
            <ng-container *ngFor="let diff1 of sectionDiff.attributeOrderDiffs[0]">
                <ng-container *ngIf="diff1.type==='new'">
                <p class="mb-0">{{diff1.name}}</p>
              </ng-container>
              </ng-container>
          </div>
          <div class="change-old">
            <ng-container *ngFor="let diff1 of sectionDiff.attributeOrderDiffs[0]">
              <ng-container *ngIf="diff1.type==='old'">
              <p class="mb-0">{{diff1.name}}</p>
            </ng-container>
            </ng-container>
          </div>
          </div>
        
      </ng-container>
        <div *ngIf="sectionDiff.oldSection && sectionDiff.newSection && sectionDiff.oldSection.name!==sectionDiff.newSection.name" class="mb-2 change-box">
          <span class="change-title"><span>Grant Details | </span>Name changed</span>
          <div class="change-new">{{sectionDiff.newSection.name}}</div>
          <div class="change-old">{{sectionDiff.oldSection.name}}</div>
        </div>
        <div *ngIf="sectionDiff.oldSection && !sectionDiff.newSection" class="mb-2 change-box">
          <span class="change-title"><span>Grant Details | </span>Existing section deleted</span>
          <div class="change-new"><label class="mb-0 text-subheader">Section Name:</label><p>{{sectionDiff.oldSection.name}}</p>
            <ng-container *ngIf="sectionDiff.oldSection.attributes">
              <div class="row" *ngFor="let at of sectionDiff.oldSection.attributes">
                <div class="col-3"><label class="mb-0 text-subheader">Field Name:</label><p>{{at.name}}</p></div>
                <div class="col-3"><label class="mb-0 text-subheader">Field Type:</label><p>{{at.type}}</p></div>
                <div class="col-6">
                  <ng-container *ngIf="at.type==='multiline'">
                    <label class="mb-0 text-subheader">Field Value:</label><p>{{at.value}}</p>
                  </ng-container>
                  <ng-container *ngIf="at.type==='table'">
                    <label class="mb-0 text-subheader">Field Value:</label><div [innerHTML]="getTabularData(at.tableValue)"></div>
                  </ng-container>
                  <ng-container *ngIf="at.type==='disbursement'">
                    <label class="mb-0 text-subheader">Field Value:</label><div [innerHTML]="getDisbursementTabularData(at.tableValue)"></div>
                  </ng-container>
                  <ng-container *ngIf="at.type==='document'">
                    <label class="mb-0 text-subheader">Documents:</label>
                    <ul>
                      <li *ngFor="let doc of getDocumentName(at.value)">
                        {{doc.name}}
                      </li>
                    </ul>
                  </ng-container>
                  <ng-container *ngIf="at.type==='kpi'">
                    <div class="row">
                      
                      <div class="col-3"><label class="mb-0 text-subheader">Target:</label><p>{{at.target}}</p></div>
                      <div class="col-3"><label class="mb-0 text-subheader">Frequency:</label><p>{{at.frequency}}</p></div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
        <div *ngIf="!sectionDiff.oldSection && sectionDiff.newSection" class="mb-2 change-box">
          <span class="change-title"><span>Grant Details | </span>New section added</span>
          <div class="change-new"><label class="mb-0 text-subheader">Section Name:</label><p>{{sectionDiff.newSection.name}}</p>
            <ng-container *ngIf="sectionDiff.newSection.attributes">
              <div class="row" *ngFor="let at of sectionDiff.newSection.attributes">
                <div class="col-3"><label class="mb-0 text-subheader">Field Name:</label><p>{{at.name}}</p></div>
                <div class="col-3"><label class="mb-0 text-subheader">Field Type:</label><p>{{at.type}}</p></div>
                <div class="col-6">
                  <ng-container *ngIf="at.type==='multiline'">
                    <label class="mb-0 text-subheader">Field Value:</label><p>{{at.value}}</p>
                  </ng-container>
                  <ng-container *ngIf="at.type==='table'">
                    <label class="mb-0 text-subheader">Field Value:</label><div [innerHTML]="getTabularData(at.tableValue)"></div>
                  </ng-container>
                  <ng-container *ngIf="at.type==='disbursement'">
                    <label class="mb-0 text-subheader">Field Value:</label><div [innerHTML]="getDisbursementTabularData(at.tableValue)"></div>
                  </ng-container>
                  <ng-container *ngIf="at.type==='document'">
                    <label class="mb-0 text-subheader">Documents:</label>
                    <ul>
                      <li *ngFor="let doc of getDocumentName(at.value)">
                        {{doc.name}}
                      </li>
                    </ul>
                  </ng-container>
                  <ng-container *ngIf="at.type==='kpi'">
                    <div class="row">
                      
                      <div class="col-3"><label class="mb-0 text-subheader">Target:</label><p>{{at.target}}</p></div>
                      <div class="col-3"><label class="mb-0 text-subheader">Frequency:</label><p>{{at.frequency}}</p></div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
        
      </ng-container>
      <ng-container *ngIf="!sectionDiff.hasSectionLevelChanges">
        <ng-container *ngIf="sectionDiff.attributesDiffs">
          <ng-container *ngFor="let attrDiff of sectionDiff.attributesDiffs">
            <div *ngIf="attrDiff.oldAttribute && attrDiff.newAttribute" class="mb-2 change-box">
              <span class="change-title"><span>Grant Details | </span>Changes in section <b>{{attrDiff.section}}</b></span>
              <div class="row change-new m-0" style="display: flex;">
                <div class="col-4"><label class="mb-0 text-subheader">Field Name:</label>
                  <p>{{attrDiff.newAttribute.name}}</p>
                </div>
                <div class="col-2"><label class="mb-0 text-subheader">Field Type:</label>
                  <p>{{getType(attrDiff.newAttribute.type)}}</p>
                </div>
                <div *ngIf="attrDiff.newAttribute.type==='multiline'" class="col-6"><label class="mb-0">Field Value:</label>
                  <pre>{{attrDiff.newAttribute.value}}</pre>
                </div>
                <div *ngIf="attrDiff.newAttribute.type==='kpi'" class="col-3">
                  <label class="mb-0">Target/Goal:</label>
                  <p>{{attrDiff.newAttribute.target}}</p>
                </div>
                <div *ngIf="attrDiff.newAttribute.type==='kpi'" class="col-3">
                  <label class="mb-0">Frequency:</label>
                  <p *ngIf="attrDiff.newAttribute.frequency!=='half-yearly'">
                    {{attrDiff.newAttribute.frequency | titlecase}}</p>
                  <p *ngIf="attrDiff.newAttribute.frequency==='half-yearly'">Half Yearly</p>
                </div>
                <div *ngIf="attrDiff.newAttribute.type==='table'" class="col-12"
                  [innerHTML]="getTabularData(attrDiff.newAttribute.tableValue)">
                </div>
                <div *ngIf="attrDiff.newAttribute.type==='disbursement'" class="col-12"
                  [innerHTML]="getDisbursementTabularData(attrDiff.newAttribute.tableValue)">
                </div>
                <div *ngIf="attrDiff.newAttribute.type==='document'" class="col-12">
                  <ul>
                    <li *ngFor="let doc of getDocumentName(attrDiff.newAttribute.value)">
                      {{doc.name}}
                    </li>
                  </ul>
                </div>
              </div>
              <div class="row change-old m-0" style="display: flex;">
                <div class="col-4"><label class="mb-0 text-subheader">Field Name:</label>
                  <p>{{attrDiff.oldAttribute.name}}</p>
                </div>
                <div class="col-2"><label class="mb-0 text-subheader">Field Type:</label>
                  <p>{{getType(attrDiff.oldAttribute.type)}}</p>
                </div>
                <div *ngIf="attrDiff.oldAttribute.type==='multiline'" class="col-6"><label class="mb-0">Field Value:</label>
                  <pre>{{attrDiff.oldAttribute.value}}</pre>
                </div>
                <div *ngIf="attrDiff.oldAttribute.type==='kpi'" class="col-3">
                  <label class="mb-0">Target/Goal:</label>
                  <p>{{attrDiff.oldAttribute.target}}</p>
                </div>
                <div *ngIf="attrDiff.oldAttribute.type==='kpi'" class="col-3">
                  <label class="mb-0">Frequency:</label>
                  <p *ngIf="attrDiff.oldAttribute.frequency!=='half-yearly'">
                    {{attrDiff.oldAttribute.frequency | titlecase}}</p>
                  <p *ngIf="attrDiff.oldAttribute.frequency==='half-yearly'">Half Yearly</p>
                </div>
                <div *ngIf="attrDiff.oldAttribute.type==='table'" class="col-12"
                  [innerHTML]="getTabularData(attrDiff.oldAttribute.tableValue)">
                </div>
                <div *ngIf="attrDiff.oldAttribute.type==='disbursement'" class="col-12"
                  [innerHTML]="getDisbursementTabularData(attrDiff.oldAttribute.tableValue)">
                </div>
                <div *ngIf="attrDiff.oldAttribute.type==='document'" class="col-12">
                  <ul>
                    <li *ngFor="let doc of getDocumentName(attrDiff.oldAttribute.value)">
                      {{doc.name}}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div *ngIf="attrDiff.oldAttribute && !attrDiff.newAttribute" class="mb-2 change-box">
              <span class="change-title"><span>Grant Details | </span>Deleted in section <b>{{attrDiff.section}}</b></span>
              <div class="row change-old m-0" style="display: flex;">
                <div class="col-4"><label class="mb-0 text-subheader">Field Name:</label>
                  <p>{{attrDiff.oldAttribute.name}}</p>
                </div>
                <div class="col-2"><label class="mb-0 text-subheader">Field Type:</label>
                  <p>{{getType(attrDiff.oldAttribute.type)}}</p>
                </div>
                <div *ngIf="attrDiff.oldAttribute.type==='multiline'" class="col-6"><label class="mb-0">Field Value:</label>
                  <pre>{{attrDiff.oldAttribute.value}}</pre>
                </div>
                <div *ngIf="attrDiff.oldAttribute.type==='kpi'" class="col-3">
                  <label class="mb-0">Target/Goal:</label>
                  <p>{{attrDiff.oldAttribute.target}}</p>
                </div>
                <div *ngIf="attrDiff && attrDiff.oldAttribute && attrDiff.oldAttribute.type==='kpi'" class="col-3">
                  <label class="mb-0">Frequency:</label>
                  <p *ngIf="attrDiff.newAttribute && attrDiff.newAttribute.frequency!=='half-yearly'">
                    {{attrDiff.newAttribute.frequency | titlecase}}</p>
                  <p *ngIf="attrDiff.newAttribute && attrDiff.newAttribute.frequency==='half-yearly'">Half Yearly</p>
                </div>
                <div *ngIf="attrDiff.oldAttribute.type==='table'" class="col-12"
                  [innerHTML]="getTabularData(attrDiff.oldAttribute.tableValue)">
                </div>
                <div *ngIf="attrDiff.oldAttribute.type==='disbursement'" class="col-12"
                  [innerHTML]="getDisbursementTabularData(attrDiff.oldAttribute.tableValue)">
                </div>
                <div *ngIf="attrDiff.oldAttribute.type==='document'" class="col-12">
                  <ul>
                    <li *ngFor="let doc of getDocumentName(attrDiff.oldAttribute.value)">
                      {{doc.name}}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div *ngIf="!attrDiff.oldAttribute && attrDiff.newAttribute" class="mb-2 change-box">
              <span class="change-title"><span>Grant Details | </span>Added in section <b>{{attrDiff.section}}</b></span>
              <div class="row change-new m-0" style="display: flex;">
                <div class="col-4"><label class="mb-0 text-subheader">Field Name:</label>
                  <p>{{attrDiff.newAttribute.name}}</p>
                </div>
                <div class="col-2"><label class="mb-0 text-subheader">Field Type:</label>
                  <p>{{getType(attrDiff.newAttribute.type)}}</p>
                </div>
                <div *ngIf="attrDiff.newAttribute.type==='multiline'" class="col-6"><label class="mb-0">Field Value:</label>
                  <pre>{{attrDiff.newAttribute.value}}</pre>
                </div>
                <div *ngIf="attrDiff.newAttribute.type==='kpi'" class="col-3">
                  <label class="mb-0">Target/Goal:</label>
                  <p>{{attrDiff.newAttribute.target}}</p>
                </div>
                <div *ngIf="attrDiff.newAttribute.type==='kpi'" class="col-3">
                  <label class="mb-0">Frequency:</label>
                  <p *ngIf="attrDiff.newAttribute.frequency!=='half-yearly'">
                    {{attrDiff.newAttribute.frequency | titlecase}}</p>
                  <p *ngIf="attrDiff.newAttribute.frequency==='half-yearly'">Half Yearly</p>
                </div>
                <div *ngIf="attrDiff.newAttribute.type==='table'" class="col-12"
                  [innerHTML]="getTabularData(attrDiff.newAttribute.tableValue)">
                </div>
                <div *ngIf="attrDiff.newAttribute.type==='disbursement'" class="col-12"
                  [innerHTML]="getDisbursementTabularData(attrDiff.newAttribute.tableValue)">
                </div>
                <div *ngIf="attrDiff.newAttribute.type==='document'" class="col-12">
                  <ul>
                    <li *ngFor="let doc of getDocumentName(attrDiff.newAttribute.value)">
                      {{doc.name}}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
</ng-container>
<ng-container *ngIf="_for==='Report'">
  <h5 *ngIf="!reportDiff" class="text-center mt-5">There are no differences between the two report states</h5>
  <div *ngIf="reportDiff" style="background:#fff;padding:5px;max-height:200px;min-width:600px;overflow-y:scroll;overflow-x:hidden;height: calc(100vh - 280px);">
    <div *ngIf="reportDiff.oldReportName || reportDiff.newReportName" class="mb-2 change-box">
      <span class="change-title"><span>Report Header | </span>Report name changed</span>
      <div class="change-new" *ngIf="reportDiff.newReportName">{{reportDiff.newReportName}}</div>
      <div *ngIf="reportDiff.newReportName && !reportDiff.oldReportName" class="text-danger"><i><small>Currently has
            no value</small></i></div>
      <div class="change-old" *ngIf="reportDiff.oldReportName">{{reportDiff.oldReportName}}</div>
      <div *ngIf="reportDiff.oldReportName && !reportDiff.newReportName" class="text-white"><i><small>Previously had
            no value</small></i></div>
    </div>
    <div *ngIf="reportDiff.oldReportStartDate || reportDiff.newReportStartDate" class="mb-2 change-box">
      <span class="change-title"><span>Report Header | </span>Report start date changed</span>
      <div class="change-new" *ngIf="reportDiff.newReportStartDate">
        {{reportDiff.newReportStartDate | date:'dd-MMM-yyyy'}}</div>
      <div *ngIf="!reportDiff.newReportStartDate && reportDiff.oldReportStartDate" class="text-danger">
        <i><small>Currently has no value</small></i></div>
      <div class="change-old" *ngIf="reportDiff.oldReportStartDate">
        {{reportDiff.oldReportStartDate | date:'dd-MMM-yyyy'}}</div>
      <div *ngIf="!reportDiff.oldReportStartDate && reportDiff.newReportStartDate" class="text-white">
        <i><small>Previously had no value</small></i></div>
    </div>
    <div *ngIf="reportDiff.oldReportEndDate || reportDiff.newReportEndDate" class="mb-2 change-box">
      <span class="change-title"><span>Report Header | </span>Report end date changed</span>
      <div class="change-new" *ngIf="reportDiff.newReportEndDate">{{reportDiff.newReportEndDate | date:'dd-MMM-yyyy'}}
      </div>
      <div *ngIf="!reportDiff.newReportEndDate && reportDiff.oldReportEndDate" class="text-danger"><i><small>Currently
            has no value</small></i></div>
      <div class="change-old" *ngIf="reportDiff.oldReportEndDate">{{reportDiff.oldReportEndDate | date:'dd-MMM-yyyy'}}
      </div>
      <div *ngIf="!reportDiff.oldReportEndDate && reportDiff.newReportEndDate" class="text-white"><i><small>Previously
            had no value</small></i></div>
    </div>
    <div *ngIf="reportDiff.oldReportDueDate || reportDiff.newReportDueDate" class="mb-2 change-box">
      <span class="change-title"><span>Report Header | </span>Report Due Date changed</span>
      <div class="change-new" *ngIf="reportDiff.newReportDueDate">{{reportDiff.newReportDueDate | date:'dd-MMM-yyyy'}}
      </div>
      <div *ngIf="!reportDiff.newReportDueDate && reportDiff.oldReportDueDate" class="text-danger"><i><small>Currently
            has no value</small></i></div>
      <div class="change-old" *ngIf="reportDiff.oldReportDueDate">{{reportDiff.oldReportDueDate | date:'dd-MMM-yyyy'}}
      </div>
      <div *ngIf="!reportDiff.oldReportDueDate && reportDiff.newReportDueDate" class="text-white"><i><small>Previously
            had no value</small></i></div>
    </div>

    <ng-container *ngIf="reportDiff.sectionDiffs">
      <ng-container *ngFor="let sectionDiff of reportDiff.sectionDiffs">
        <ng-container *ngIf="sectionDiff.hasSectionLevelChanges">
          <ng-container *ngIf="sectionDiff.attributeOrderDiffs && sectionDiff.attributeOrderDiffs.length>0">
            <span class="change-title"><span>Report Detail | </span>Field order changes in section <strong>{{sectionDiff.newSection.name}}</strong></span>
            
              <div class="mb-2 change-box">
            
            <div class="change-new">
              <ng-container *ngFor="let diff1 of sectionDiff.attributeOrderDiffs[0]">
                  <ng-container *ngIf="diff1.type==='new'">
                  <p class="mb-0">{{diff1.name}}</p>
                </ng-container>
                </ng-container>
            </div>
            <div class="change-old">
              <ng-container *ngFor="let diff1 of sectionDiff.attributeOrderDiffs[0]">
                <ng-container *ngIf="diff1.type==='old'">
                <p class="mb-0">{{diff1.name}}</p>
              </ng-container>
              </ng-container>
            </div>
            </div>
          
        </ng-container>
          <div *ngIf="sectionDiff.oldSection && sectionDiff.newSection && sectionDiff.oldSection.name!==sectionDiff.newSection.name" class="mb-2 change-box">
            <span class="change-title"><span>Report Detail | </span>Section name changed</span>
            <div class="change-new">{{sectionDiff.newSection.sectionName}}</div>
            <div class="change-old">{{sectionDiff.oldSection.sectionName}}</div>
          </div>
          <div *ngIf="sectionDiff.oldSection && !sectionDiff.newSection" class="mb-2 change-box">
            <span class="change-title"><span>Report Detail | </span>Existing section deleted</span>
            <div class="change-new"><label class="mb-0 text-subheader">Section Name:</label><p>{{sectionDiff.oldSection.name}}</p>
              <ng-container *ngIf="sectionDiff.oldSection.attributes">
                <div class="row" *ngFor="let at of sectionDiff.oldSection.attributes">
                  <div class="col-3"><label class="mb-0 text-subheader">Field Name:</label><p>{{at.name}}</p></div>
                  <div class="col-3"><label class="mb-0 text-subheader">Field Type:</label><p>{{at.type}}</p></div>
                  <div class="col-6">
                    <ng-container *ngIf="at.type==='multiline'">
                      <label class="mb-0 text-subheader">Field Value:</label><p>{{at.value}}</p>
                    </ng-container>
                    <ng-container *ngIf="at.type==='table'">
                      <label class="mb-0 text-subheader">Field Value:</label><div [innerHTML]="getTabularData(at.tableValue)"></div>
                    </ng-container>
                    <ng-container *ngIf="at.type==='disbursement'">
                      <label class="mb-0 text-subheader">Field Value:</label><div [innerHTML]="getDisbursementTabularData(at.tableValue)"></div>
                    </ng-container>
                    <ng-container *ngIf="at.type==='document'">
                      <label class="mb-0 text-subheader">Documents:</label>
                      <ul>
                        <li *ngFor="let doc of getDocumentName(at.value)">
                          {{doc.name}}
                        </li>
                      </ul>
                    </ng-container>
                    <ng-container *ngIf="at.type==='kpi'">
                      <div class="row">
                        
                        <div class="col-3"><label class="mb-0 text-subheader">Target:</label><p>{{at.target}}</p></div>
                        <div class="col-3"><label class="mb-0 text-subheader">Frequency:</label><p>{{at.frequency}}</p></div>
                        <div class="col-3"><label class="mb-0 text-subheader">Target Achieved:</label><p>{{at.actualTarget}}</p></div>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
          <div *ngIf="!sectionDiff.oldSection && sectionDiff.newSection" class="mb-2 change-box">
            <span class="change-title"><span>Report Detail | </span>New section added:</span>
            <div class="change-new"><label class="mb-0 text-subheader">Section Name:</label><p>{{sectionDiff.newSection.name}}</p>
              <ng-container *ngIf="sectionDiff.newSection.attributes">
                <div class="row" *ngFor="let at of sectionDiff.newSection.attributes">
                  <div class="col-3"><label class="mb-0 text-subheader">Field Name:</label><p>{{at.name}}</p></div>
                  <div class="col-3"><label class="mb-0 text-subheader">Field Type:</label><p>{{at.type}}</p></div>
                  <div class="col-6">
                    <ng-container *ngIf="at.type==='multiline'">
                      <label class="mb-0 text-subheader">Field Value:</label><p>{{at.value}}</p>
                    </ng-container>
                    <ng-container *ngIf="at.type==='table'">
                      <label class="mb-0 text-subheader">Field Value:</label><div [innerHTML]="getTabularData(at.tableValue)"></div>
                    </ng-container>
                    <ng-container *ngIf="at.type==='disbursement'">
                      <label class="mb-0 text-subheader">Field Value:</label><div [innerHTML]="getDisbursementTabularData(at.tableValue)"></div>
                    </ng-container>
                    <ng-container *ngIf="at.type==='document'">
                      <label class="mb-0 text-subheader">Documents:</label>
                      <ul>
                        <li *ngFor="let doc of getDocumentName(at.value)">
                          {{doc.name}}
                        </li>
                      </ul>
                    </ng-container>
                    <ng-container *ngIf="at.type==='kpi'">
                      <div class="row">
                        
                        <div class="col-3"><label class="mb-0 text-subheader">Target:</label><p>{{at.target}}</p></div>
                        <div class="col-3"><label class="mb-0 text-subheader">Frequency:</label><p>{{at.frequency}}</p></div>
                        <div class="col-3"><label class="mb-0 text-subheader">Target Achieved:</label><p>{{at.actualTarget}}</p></div>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="!sectionDiff.hasSectionLevelChanges">
          <ng-container *ngIf="sectionDiff.attributesDiffs">
            <ng-container *ngFor="let attrDiff of sectionDiff.attributesDiffs">
              <div *ngIf="attrDiff.oldAttribute && attrDiff.newAttribute" class="mb-2 change-box">
                <span class="change-title"><span>Report Detail | </span>Field changes in section <b>{{attrDiff.section}}</b></span>
                <div class="row change-new m-0" style="display: flex;">
                  <div class="col-4"><label class="mb-0 text-subheader">Field Name:</label>
                    <p>{{attrDiff.newAttribute.name}}</p>
                  </div>
                  <div class="col-2"><label class="mb-0 text-subheader">Field Type:</label>
                    <p>{{getType(attrDiff.newAttribute.type)}}</p>
                  </div>
                  <div *ngIf="attrDiff.newAttribute.type==='multiline'" class="col-6"><label>Field Value:</label>
                    <p>{{attrDiff.newAttribute.value}}</p>
                  </div>
                  <div *ngIf="attrDiff.newAttribute.type==='kpi'" class="col-2">
                    <label>Target/Goal:</label>
                    <p>{{attrDiff.newAttribute.target}}</p>
                  </div>
                  <div *ngIf="attrDiff.newAttribute.type==='kpi'" class="col-2">
                    <label>Actual Achieved:</label>
                    <p>{{attrDiff.newAttribute.actualTarget}}</p>
                  </div>
                  <div *ngIf="attrDiff.newAttribute.type==='kpi'" class="col-2">
                    <label>Frequency:</label>
                    <p *ngIf="attrDiff.newAttribute.frequency!=='half-yearly'">
                      {{attrDiff.newAttribute.frequency | titlecase}}</p>
                    <p *ngIf="attrDiff.newAttribute.frequency==='half-yearly'">Half Yearly</p>
                  </div>
                  <div *ngIf="attrDiff.newAttribute.type==='table'" class="col-12"
                    [innerHTML]="getTabularData(attrDiff.newAttribute.tableValue)">
                  </div>
                  <div *ngIf="attrDiff.newAttribute.type==='disbursement'" class="col-12"
                    [innerHTML]="getDisbursementTabularData(attrDiff.newAttribute.tableValue)">
                  </div>
                  <div *ngIf="attrDiff.newAttribute.type==='document'" class="col-12">
                    <ul>
                      <li *ngFor="let doc of getDocumentName(attrDiff.newAttribute.value)">
                        {{doc.name}}
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="row change-old m-0" style="display: flex;">
                  <div class="col-4"><label class="mb-0 text-subheader">Field Name:</label>
                    <p>{{attrDiff.oldAttribute.name}}</p>
                  </div>
                  <div class="col-2"><label class="mb-0 text-subheader">Field Type:</label>
                    <p>{{getType(attrDiff.oldAttribute.type)}}</p>
                  </div>
                  <div *ngIf="attrDiff.oldAttribute.type==='multiline'" class="col-6"><label>Field Value:</label>
                    <p>{{attrDiff.oldAttribute.value}}</p>
                  </div>
                  <div *ngIf="attrDiff.oldAttribute.type==='kpi'" class="col-2">
                    <label>Target/Goal:</label>
                    <p>{{attrDiff.oldAttribute.target}}</p>
                  </div>
                  <div *ngIf="attrDiff.newAttribute.type==='kpi'" class="col-2">
                    <label>Actual Achieved:</label>
                    <p>{{attrDiff.oldAttribute.actualTarget}}</p>
                  </div>
                  <div *ngIf="attrDiff.oldAttribute.type==='kpi'" class="col-2">
                    <label>Frequency:</label>
                    <p *ngIf="attrDiff.newAttribute.frequency!=='half-yearly'">
                      {{attrDiff.newAttribute.frequency | titlecase}}</p>
                    <p *ngIf="attrDiff.newAttribute.frequency==='half-yearly'">Half Yearly</p>
                  </div>
                  <div *ngIf="attrDiff.oldAttribute.type==='table'" class="col-12"
                    [innerHTML]="getTabularData(attrDiff.oldAttribute.tableValue)">
                  </div>
                  <div *ngIf="attrDiff.oldAttribute.type==='disbursement'" class="col-12"
                    [innerHTML]="getDisbursementTabularData(attrDiff.oldAttribute.tableValue)">
                  </div>
                  <div *ngIf="attrDiff.oldAttribute.type==='document'" class="col-12">
                    <ul>
                      <li *ngFor="let doc of getDocumentName(attrDiff.oldAttribute.value)">
                        {{doc.name}}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div *ngIf="attrDiff.oldAttribute && !attrDiff.newAttribute" class="mb-2 change-box">
                <span class="change-title"><span>Report Detail | </span>Field deleted in section <b>{{attrDiff.section}}</b></span>
                <div class="row change-old m-0" style="display: flex;">
                  <div class="col-4"><label class="mb-0 text-subheader">Field Name:</label>
                    <p>{{attrDiff.oldAttribute.name}}</p>
                  </div>
                  <div class="col-2"><label class="mb-0 text-subheader">Field Type:</label>
                    <p>{{getType(attrDiff.oldAttribute.type)}}</p>
                  </div>
                  <div *ngIf="attrDiff.oldAttribute.type==='multiline'" class="col-6"><label>Field Value:</label>
                    <p>{{attrDiff.oldAttribute.value}}</p>
                  </div>
                  <div *ngIf="attrDiff.oldAttribute.type==='kpi'" class="col-3">
                    <label>Target/Goal:</label>
                    <p>{{attrDiff.oldAttribute.target}}</p>
                  </div>
                  <div *ngIf="attrDiff.oldAttribute.type==='kpi'" class="col-3">
                    <label>Frequency:</label>
                    <p *ngIf="attrDiff.newAttribute.frequency!=='half-yearly'">
                      {{attrDiff.newAttribute.frequency | titlecase}}</p>
                    <p *ngIf="attrDiff.newAttribute.frequency==='half-yearly'">Half Yearly</p>
                  </div>
                  <div *ngIf="attrDiff.oldAttribute.type==='table'" class="col-12"
                    [innerHTML]="getTabularData(attrDiff.oldAttribute.tableValue)">
                  </div>
                  <div *ngIf="attrDiff.oldAttribute.type==='disbursement'" class="col-12"
                    [innerHTML]="getDisbursementTabularData(attrDiff.oldAttribute.tableValue)">
                  </div>
                  <div *ngIf="attrDiff.oldAttribute.type==='document'" class="col-12">
                    <ul>
                      <li *ngFor="let doc of getDocumentName(attrDiff.oldAttribute.value)">
                        {{doc.name}}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div *ngIf="!attrDiff.oldAttribute && attrDiff.newAttribute" class="mb-2 change-box">
                <span class="change-title"><span>Report Detail | </span>Field added in section <b>{{attrDiff.section}}</b></span>
                <div class="row change-new m-0" style="display: flex;">
                  <div class="col-4"><label class="mb-0 text-subheader">Field Name:</label>
                    <p>{{attrDiff.newAttribute.name}}</p>
                  </div>
                  <div class="col-2"><label class="mb-0 text-subheader">Field Type:</label>
                    <p>{{getType(attrDiff.newAttribute.type)}}</p>
                  </div>
                  <div *ngIf="attrDiff.newAttribute.type==='multiline'" class="col-6"><label>Field Value:</label>
                    <p>{{attrDiff.newAttribute.value}}</p>
                  </div>
                  <div *ngIf="attrDiff.newAttribute.type==='kpi'" class="col-3">
                    <label>Target/Goal:</label>
                    <p>{{attrDiff.newAttribute.target}}</p>
                  </div>
                  <div *ngIf="attrDiff.newAttribute.type==='kpi'" class="col-3">
                    <label>Frequency:</label>
                    <p *ngIf="attrDiff.newAttribute.frequency!=='half-yearly'">
                      {{attrDiff.newAttribute.frequency | titlecase}}</p>
                    <p *ngIf="attrDiff.newAttribute.frequency==='half-yearly'">Half Yearly</p>
                  </div>
                  <div *ngIf="attrDiff.newAttribute.type==='table'" class="col-12"
                    [innerHTML]="getTabularData(attrDiff.newAttribute.tableValue)">
                  </div>
                  <div *ngIf="attrDiff.newAttribute.type==='document'" class="col-12">
                    <ul>
                      <li *ngFor="let doc of getDocumentName(attrDiff.newAttribute.value)">
                        {{doc.name}}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>

  </div>
</ng-container>
<ng-container *ngIf="_for==='Disbursement'">
  <h5 *ngIf="!disbursementDiff" class="text-center mt-5">There are no differences between the two approval request states</h5>
  <div *ngIf="disbursementDiff" style="background:#fff;padding:5px;max-height:200px;min-width:600px;overflow-y:scroll;overflow-x:hidden;height: calc(100vh - 280px);">
    <div *ngIf="disbursementDiff.oldRequestedAmount || disbursementDiff.newRequestedAmount" class="mb-2 change-box">
      <span class="change-title"><span>Approval Request Header | </span>Requested Amount changed</span>
      <div class="change-new" *ngIf="disbursementDiff.newRequestedAmount">
        {{currencyService.getFormattedAmount(disbursementDiff.newRequestedAmount)}}</div>
      <div *ngIf="disbursementDiff.newRequestedAmount && !disbursementDiff.oldRequestedAmount" class="text-danger">
        <i><small>No value</small></i></div>
      <div class="change-old" *ngIf="disbursementDiff.oldRequestedAmount">
        {{currencyService.getFormattedAmount(disbursementDiff.oldRequestedAmount)}}</div>
      <div *ngIf="disbursementDiff.oldRequestedAmount && !disbursementDiff.newRequestedAmount" class="text-white">
        <i><small>Previously had no value</small></i></div>
    </div>
    <div *ngIf="disbursementDiff.oldReason || disbursementDiff.newReason" class="mb-2 change-box">
      <span class="change-title"><span>Approval Request Header | </span>Approval Request Commentary changed</span>
      <div class="change-new" *ngIf="disbursementDiff.newReason">{{disbursementDiff.newReason}}</div>
      <div *ngIf="!disbursementDiff.newReason && disbursementDiff.oldReason" class="text-danger"><i><small>No
            value</small></i></div>
      <div class="change-old" *ngIf="disbursementDiff.oldReason">{{disbursementDiff.oldReason}}</div>
      <div *ngIf="!disbursementDiff.oldReason && disbursementDiff.newReason" class="text-white"><i><small>Previously
            had no value</small></i></div>
    </div>
    <div *ngIf="disbursementDiff.actualDisbursement" class="mb-2 change-box">
      <span class="change-title"><span>Recorded Disbursements | </span>Recorded Disbursements changed</span>
      <div class="change-new py-2" *ngIf="disbursementDiff.actualDisbursement">
        <table width="100%" border="1">
          <tr>
            <td>Disbursement Date</td>
            <td>Disbursement Amount</td>
            <td>Milestone/Notes</td>
          </tr>
        <ng-container *ngFor="let ad of disbursementDiff.actualDisbursement">
          <tr>
          <td>{{ad.disbursementDate}}</td>
          <td>{{ad.actualAmount}}</td>
          <td>{{ad.note}}</td>
        </tr>
        </ng-container>
      </table>
      </div>
    </div>
  </div>
</ng-container>