<!--div class="main-content" style="background:#f4f4f4;">
    <h4 style="display:flex;align-items:center;justify-content:center;"><img src="./assets/img/granticon.svg">Grants</h4>
    <div class="p-2" style="display:flex;align-items:center;justify-content:center;background:#f4f4f4;">

        <mat-card *ngIf="this.appComponent.loggedInUser.organization.organizationType!=='GRANTEE'" class="mx-5 mt-1" (click)="viewInProgressGrants()" style="cursor:pointer;min-width:18vw;border-right:5px solid #f5a956;">
            <mat-card-header>
                <mat-card-title>In-progress</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <h2>{{grantInProgressCount}}</h2>
            </mat-card-content>
        </mat-card>

        <mat-card class="mx-5 mt-1" (click)="viewActiveGrants()" style="cursor:pointer;min-width:18vw;border-right:5px solid #3db349;">
            <mat-card-header>
                <mat-card-title>Active</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <h2>{{grantActiveCount}}</h2>
            </mat-card-content>
        </mat-card>


        <mat-card class="mx-5 mt-1" (click)="viewClosedGrants()" style="cursor:pointer;min-width:18vw;border-right:5px solid #6b6c6b;">
            <mat-card-header>
                <mat-card-title>Closed</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <h2>{{grantClosedCount}}</h2>
            </mat-card-content>
        </mat-card>
    </div>
</div-->
<div class="main-content no-top-margin" style="margin-top: 40px;">
    <div class="container-fluid">

        <mat-tab-group (selectedTabChange)="tabSelectionChange($event)" #DashboardTabGroup *ngIf="this.appComponent.loggedInUser.organization.type==='GRANTER'" class="mt-4">
            <mat-tab label="{{this.appComponent.loggedInUser.organization.name}}">
                <div class="anu-container text-left pt-3 mx-0 px-4">
                    <div class="row mx-0">
                        <div class="col-4"><app-summary [border]="'#4dc252'" [borderWidth]="'4px'" [heading]="totalGrantsIssued" caption="Total Grants issued"></app-summary></div>
                        <div class="col-4"><app-summary [border]="'#4dc252'" [borderWidth]="'4px'" [heading]="totalGrantees" caption="Grantees"></app-summary></div>
                        <div class="col-4"><app-summary [border]="'#4dc252'" [borderWidth]="'4px'" [heading]="totalGrantAmount" caption="Total Grant Amount"></app-summary></div>
                    </div>
                    <div class="row mx-0">
                        <div class="col-4"><app-summary [borderWidth]="'4px'" heading="-" caption="RFPs" disabled="true"></app-summary></div>
                        <div class="col-4"><app-summary [borderWidth]="'4px'" heading="-" caption="Applications" disabled="true"></app-summary></div>
                        <div class="col-4"><app-summary [borderWidth]="'4px'" [heading]="totalActiveUsers" caption="Active users"></app-summary></div>
                    </div>
                    <hr>
                    <div *ngIf="portfolioData && portfolioData.length>0" class="row mx-0 mt-4">
                        <div class="col-12 px-2">
                            <app-portfolio-summary [data]="portfolioData" [display]="false" name="Grant Portfolio"></app-portfolio-summary>
                        </div>

                    </div>

                </div>

            </mat-tab>
            <mat-tab *ngIf="myCategory.canshowdashboard" label="{{getName()}}">
                <div class="anu-container text-left mx-0 px-4 pb-4">
                    <div class="row">
                        <div class="col-12 mt-4">
                            <h5 *ngIf="myCategory.summary.ActionsPending.Grants>0 || myCategory.summary.ActionsPending.Reports>0 || myCategory.summary.ActionsPending.DisbursementApprovals>0" class="text-green mb-0" style="font-weight: 500;">Actions Pending</h5>
                            <h5 *ngIf="myCategory.summary.ActionsPending.Grants===0 && myCategory.summary.ActionsPending.Reports===0 && myCategory.summary.ActionsPending.DisbursementApprovals===0" class="text-green mb-0" style="font-weight: 500;">No Actions Pending</h5>
                        </div>
                        <div class="col-4"><app-summary *ngIf="myCategory.summary.ActionsPending.Grants>0 || myCategory.summary.ActionsPending.Reports>0 || myCategory.summary.ActionsPending.DisbursementApprovals>0" [border]="'#ffbf00'" [clickable]="true" [shadow]="'4px 4px 10px #d7d7d7'" [borderWidth]="'4px'" [heading]="myCategory.summary.ActionsPending.Grants" caption="Grants" (click)="showpendingGrants()"></app-summary></div>
                        <div class="col-4"><app-summary *ngIf="myCategory.summary.ActionsPending.Grants>0 || myCategory.summary.ActionsPending.Reports>0 || myCategory.summary.ActionsPending.DisbursementApprovals>0" [border]="'#ffbf00'" [clickable]="true" [shadow]="'4px 4px 10px #d7d7d7'" [borderWidth]="'4px'" [heading]="myCategory.summary.ActionsPending.Reports" caption="Progress Reports" (click)="showpendingReports()"></app-summary></div>
                        <div class="col-4"><app-summary *ngIf="myCategory.summary.ActionsPending.Grants>0 || myCategory.summary.ActionsPending.Reports>0 || myCategory.summary.ActionsPending.DisbursementApprovals>0" [border]="'#ffbf00'" [clickable]="true" [shadow]="'4px 4px 10px #d7d7d7'" [borderWidth]="'4px'" [heading]="myCategory.summary.ActionsPending.DisbursementApprovals" caption="Disbursement Requests" (click)="showpendingDisbursements()"></app-summary></div>
                    </div>
                    <div class="row" *ngIf="myCategory.summary.UpcomingGrants.DraftGrants>0 || myCategory.summary.UpcomingGrants.Grantsinmyworkflow>0 || myCategory.summary.UpcomingGrants.GrantAmount>0 || myCategory.summary.UpcomingReports.DraftReports>0 || myCategory.summary.UpcomingReports.Reportsinmyworkflow>0 || myCategory.summary.UpcomingReports.ReportAmount>0 || myCategory.summary.upcomingDisbursements.DraftDisbursements>0 || myCategory.summary.upcomingDisbursements.Disbursementsinmyworkflow>0 || myCategory.summary.upcomingDisbursements.DisbursementAmount>0">
                        <h5 class="col-12 mt-4 text-green mb-0" style="font-weight: 500;">Upcoming</h5>
                        <div class="p-3 mx-3 mb-2 mt-1 px-4" style="border: 1px solid rgba(14, 16, 14, 0.12); border-radius: 4px; background: #fefefe;">
                            <div *ngIf="myCategory.summary.UpcomingGrants.DraftGrants>0 || myCategory.summary.UpcomingGrants.Grantsinmyworkflow>0 || myCategory.summary.UpcomingGrants.GrantAmount>0" class="row">
                                <div class="col-12 mt-1"><h5 class="text-green mb-0" style="font-weight: 400;">Grants</h5></div>
                                <div class="col-4"><app-summary [border]="'#ffbf00'" [clickable]="true" [shadow]="'4px 4px 10px #d7d7d7'" [borderWidth]="'4px'" [heading]="myCategory.summary.UpcomingGrants.DraftGrants" caption="Drafts" (click)="showupcomingGrants()"></app-summary></div>
                                <div class="col-4"><app-summary [border]="'#9d9d9d'" [borderWidth]="'4px'" [heading]="myCategory.summary.UpcomingGrants.Grantsinmyworkflow" caption="In-Progress"></app-summary></div>
                                <div class="col-4"><app-summary [border]="'#9d9d9d'" [borderWidth]="'4px'" [color]="'#f4f4f4'" [heading]="getFormattedGrantAmount(myCategory.summary.UpcomingGrants.GrantAmount)" caption="Commitment Amount"></app-summary></div>
                            </div>
                            <div *ngIf="myCategory.summary.UpcomingReports.DraftReports>0 || myCategory.summary.UpcomingReports.Reportsinmyworkflow>0 || myCategory.summary.UpcomingReports.ReportAmount>0" class="row">
                                <div class="col-12 mt-0"><h5 class="text-green mb-0" style="font-weight: 400;">Progress Reports</h5></div>
                                <div class="col-4"><app-summary [border]="'#ffbf00'" [clickable]="true" [shadow]="'4px 4px 10px #d7d7d7'" [borderWidth]="'4px'" [heading]="myCategory.summary.UpcomingReports.DraftReports" caption="Drafts" (click)="showupcomingReports()"></app-summary></div>
                                <div class="col-4"><app-summary [border]="'#9d9d9d'" [borderWidth]="'4px'" [heading]="myCategory.summary.UpcomingReports.Reportsinmyworkflow" caption="In-Progress"></app-summary></div>
                                <div class="col-4"><app-summary [border]="'#9d9d9d'" [borderWidth]="'4px'" [color]="'#f4f4f4'" [heading]="getFormattedGrantAmount(myCategory.summary.UpcomingReports.ReportAmount)" caption="Pending Amount"></app-summary></div>
                            </div>
                            <div *ngIf="myCategory.summary.upcomingDisbursements.DraftDisbursements>0 || myCategory.summary.upcomingDisbursements.Disbursementsinmyworkflow>0 || myCategory.summary.upcomingDisbursements.DisbursementAmount>0" class="row">
                                <div class="col-12 mt-4"><h5 class="text-green mb-0" style="font-weight: 400;">Disbursements Requests</h5></div>
                                <div class="col-4"><app-summary [border]="'#ffbf00'" [clickable]="true" [shadow]="'4px 4px 10px #d7d7d7 #d7d7d7'" [borderWidth]="'4px'" [heading]="myCategory.summary.upcomingDisbursements.DraftDisbursements" caption="Drafts" (click)="showupcomingDisbursements()"></app-summary></div>
                                <div class="col-4"><app-summary [border]="'#9d9d9d'" [borderWidth]="'4px'" [heading]="myCategory.summary.upcomingDisbursements.Disbursementsinmyworkflow" caption="In-Progress"></app-summary></div>
                                <div class="col-4"><app-summary [border]="'#9d9d9d'" [borderWidth]="'4px'" [color]="'#f4f4f4'" [heading]="getFormattedGrantAmount(myCategory.summary.upcomingDisbursements.DisbursementAmount)" caption="Request Amount"></app-summary></div>
                            </div>
                        </div>
                    </div>
                    
                    <div *ngIf="myCategory.filters && myCategory.filters.length>0 && (myCategory.filters[0].totalGrants>0 || myCategory.filters[1].totalGrants>0)" class="row mt-4">
                        <div class="col-12 px-3">
                            <app-myportfolio-summary [data]="myCategory.filters" [display]="false" name="My Grant Portfolio"></app-myportfolio-summary>
                        </div>

                    </div>

                </div>

            </mat-tab>
        </mat-tab-group>
    </div>
    </div>
