<div class="row search-panel">
  <div class="col-9 search-panel-container">
    <app-search-filter #appSearchFilter *ngIf="!searchClosed" [ready]="filterReady" (highlightDone)="resetFilterFlag($event)" (filterCriteria)="startFilter($event)" (close)="closeSearch($event)"></app-search-filter>
    <mat-icon (click)="openSearch()" style="position: absolute; right: 0; margin-right: 20px;">search</mat-icon>
  </div>
  <div class="col-3 d-flex align-items-center justify-content-end p-0">
    <ng-container *ngIf="appComponent.grantTypes && appComponent.grantTypes.length>0">
      <button
      *ngIf="
        appComponent.loggedInUser.organization.organizationType ===
        'GRANTER'
      "
      class="btn btn-sm btn-green float-right"
      (click)="createGrant()"
    >
      New Grant
    </button>
    </ng-container>
  </div>
</div>
<div class="main-content" style="margin-top: 40px;">
  <div class="container-fluid anudan-scrollable">
    
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div>
          <div *ngIf="!hasTenant">
            <img src="./assets/img/loader.gif" style="width: 10%" />
            <p style="color: black">Loading grants...</p>
          </div>

          

          <div *ngIf="hasTenant">
            <p *ngIf="filteredGrants && filteredGrants.length===0" class="py-5">
              No Grants
            </p>
            <div
              [ngClass]="uiService.getGrantCardStyle(grant,appComponent)"
              style="border-radius: 8px; cursor: pointer"
              *ngFor="let grant of filteredGrants; let i = index"
              (click)="manageGrant(grant)"
            >
              <div class="col-12 text-left search-context">
                <i *ngIf="appComponent.loggedInUser.organization.organizationType==='GRANTER' && grant.grantTags.length===1" class="fas fa-tag fa-xs ml-2 grant-tags"></i>
                <i *ngIf="appComponent.loggedInUser.organization.organizationType==='GRANTER' && grant.grantTags.length>1" class="fas fa-tags fa-xs ml-2 grant-tags"></i>
                <p
                  class="text-header-h1 mb-1"
                  *ngIf="!grant.referenceNo"
                  style="font-size: 18px"
                >
                  {{ grant.name }}
                  <span
                    class="text-red ml-3"
                    *ngIf="
                      grant.grantStatus.internalStatus === 'ACTIVE' &&
                      grant.amendGrantId
                    "
                  >
                    <small>Amendment in-progress</small>
                  </span>
                </p>
                <p
                  class="text-header-h1 mb-1"
                  *ngIf="grant.referenceNo"
                  style="font-size: 18px"
                >
                  {{ grant.referenceNo }} | <b>{{ grant.name }}</b>
                </p>
              </div>
              
              <div class="col-12 text-left mb-0 search-context">
                <div class="text-header mb-0">
                  {{ grant.organization ? grant.organization.name : null }}
                </div>
                
              </div>
            
              <div class="col-4 text-left"
                style="border-right: 1px solid #d4d4d4">
                <div class="row">
                  <div class="col-12 mt-1">
                    <div class="row">
                      <div class="col-12 mb-0 pr-0">
                        ₹
                        <span class="text-header mr-4 search-context">{{
                          getFormattedGrantAmount(grant.amount)
                        }}</span><span class="text-subheader"><small>{{getGrantAmountInWords(grant.amount)}}</small></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 mt-4">
                    <p class="mb-0 text-header">
                      <mat-icon [inline]="true" class="mr-1"
                        >calendar_today</mat-icon
                      >
                      {{ grant.startDate | date: "dd-MMM-yyyy" }}
                      -
                      {{ grant.endDate | date: "dd-MMM-yyyy" }}
                      <span class="text-subheader"><small class="ml-2">({{ data.getDateDuration(grant) }})</small></span>
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-5">
                <div class="row">
                  <div class="col-12 mt-2 text-left">
                    <div class="row">
                      <div
                        class="col-12 text-subheader">
                        Disbursed <small>(till date)</small>:<span class="text-header">
                          {{
                            grant.approvedDisbursementsTotal === 0
                              ? "none"
                              : currencyService.getFormattedAmount(
                                  grant.approvedDisbursementsTotal
                                )
                          }}</span>
                          <small
                      class="ml-2"
                      *ngIf="grant.approvedDisbursementsTotal > 0"
                      >{{
                        currencyService.getAmountInWords(
                          grant.approvedDisbursementsTotal
                        )
                      }}</small
                    >
                      </div>
                    </div>
                  </div>
                  <div class="col-12 mt-2 text-left">
                    <div class="row">
                      <div class="col-12 text-subheader" style="">
                        Approved Reports :<span class="text-header">
                          {{
                            grant.approvedReportsForGrant === 0
                              ? "none"
                              : grant.approvedReportsForGrant
                          }}</span>
                      </div>
    
                    </div>
                  </div>
                  <div class="col-12 mt-2 text-left">
                    <div class="row">
                      <div class="col-12 text-subheader" style="">
                        Project Documents:<span class="text-header">
                          {{
                            grant.projectDocumentsCount === 0
                              ? "none"
                              : grant.projectDocumentsCount
                          }}</span>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
              
              <div class="col-3 text-left">
                <div class="status-indicator2">
                  <div [class]="'text-center status-icon state-'+grant.grantStatus.internalStatus.toLowerCase()">
                  </div>{{grant.grantStatus.name | uppercase}}
                </div>
                <div class="text-center text-subheader pl-3 mt-2">{{grant.ownerName}}</div>
              </div>
              <div class="col-9"></div>
              <div *ngIf="appComponent.loggedInUser.organization.organizationType!=='GRANTEE'" [ngStyle]="{'background-color':getGrantTypeColor(grant.grantTypeId),'border-bottom-right-radius':'4px'}" class="col-3 p-1 d-flex align-items-center justify-content-center">
                <div class="float-right" >
                  <small>{{getGrantTypeName(grant.grantTypeId)}}</small>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
