<div class="row search-panel" >
  <div class="col-9 search-panel-container">
    <app-search-filter #appSearchFilter *ngIf="!searchClosed" [ready]="filterReady" (highlightDone)="resetFilterFlag($event)" (filterCriteria)="startFilter($event)" (close)="closeSearch($event)"></app-search-filter>
    <mat-icon (click)="openSearch()" style="position: absolute; right: 0; margin-right: 20px;">search</mat-icon>
  </div>
  <div class="col-3 d-flex align-items-center justify-content-end p-0"></div>
</div>
<div class="main-content" style="margin-top: 40px;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div>
          <div *ngIf="!disbursements">
            <img src="./assets/img/loader.gif" style="width: 10%" />
            <p style="color: black">Loading Disbursements...</p>
          </div>

          <div *ngIf="disbursements && disbursements.length === 0">
            <h5 class="mt-5">
              No Draft/In-progress Approval Requests were found
            </h5>
          </div>
          <div *ngIf="disbursements && disbursements.length > 0">
            <div
              [ngClass]="uiService.getCardStyle(disbursement.canManage)"
              style="cursor: pointer"
              *ngFor="let disbursement of filteredDisbursements; let i = index"
              (click)="manageDisbursement(disbursement)"
            >
              <div class="col-9 mb-1 search-context px-0">
                <div *ngIf="disbursement.disabledByAmendment" class="mb-0 text-red text-left" style="font-weight: 600; font-size: 12px">
                  Underlying grant has been amended. Please check if this
                  disbursement is still valid
                </div>
                
                <div class="text-subheader text-left mb-0">
                 <div class="mb-1"><b>{{ (disbursement.grant.referenceNo? disbursement.grant.referenceNo + " | ": "") + disbursement.grant.name}}</b></div>
                 <div class="mb-1"><b *ngIf="isExternalGrant(disbursement.grant)">{{disbursement.grant.organization? disbursement.grant.organization.name: ""}}</b> </div>
                 <div class="mb-1"><b *ngIf="!isExternalGrant(disbursement.grant)">{{disbursement.grant.grantorOrganization.name}}</b></div>

                 <div class="mt-1">
                  <b>{{currencyService.getFormattedAmount(disbursement.grant.amount)}}</b>
                    &nbsp;&nbsp;<span>({{currencyService.getAmountInWords(disbursement.grant.amount)}})</span>
                  </div>
                </div>
              </div>
              <div class="col-2 d-flex align-items-end justify-content-center">
                <div class="row">
                  <div class="col-12">
                    <div class="status-indicator2">
                      <div [class]="'text-center status-icon state-'+disbursement.status.internalStatus.toLowerCase()">
                      </div>{{disbursement.status.name | uppercase}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-10 text-left pt-3" (click)="manageDisbursement(disbursement)">
                <div class="row">
                  <div class="col-12">
                    <p class="text-subheader mb-0"><strong>Requested Amount:</strong> <span class="text-header search-context">
                      {{
                        currencyService.getFormattedAmount(
                          disbursement.requestedAmount
                        )
                      }}</span>&nbsp;&nbsp;<span class="text-subheader ml-3">
                    {{
                      currencyService.getAmountInWords(
                        disbursement.requestedAmount
                      )
                    }}</span>
                    </p>
                  </div>
                </div>
              </div>
              
              <div class="col-9"></div>
              <div *ngIf="appComponent.loggedInUser.organization.organizationType!=='GRANTEE'" [ngStyle]="{'background-color':getGrantTypeColor(disbursement.grant.grantTypeId),'border-bottom-right-radius':'4px'}" class="col-3 p-1 d-flex align-items-center justify-content-center">
                <div class="float-right" >
                  <small>{{getGrantTypeName(disbursement.grant.grantTypeId)}}</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
