<div class="row search-panel" >
  <div class="col-9 search-panel-container">
    <app-search-filter #appSearchFilter *ngIf="!searchClosed" [ready]="filterReady" (highlightDone)="resetFilterFlag($event)" (filterCriteria)="startFilter($event)" (close)="closeSearch($event)"></app-search-filter>
    <mat-icon (click)="openSearch()" style="position: absolute; right: 0; margin-right: 20px;">search</mat-icon>
  </div>
  <div class="col-3 d-flex align-items-center justify-content-end p-0"></div>
</div>
<div class="main-content" style="margin-top: 40px;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div>
          <div *ngIf="!disbursements">
            <img src="./assets/img/loader.gif" style="width: 10%" />
            <p style="color: black">Loading Disbursements...</p>
          </div>

          <div *ngIf="disbursements && disbursements.length === 0">
            <p class="py-5">
              No Disbursements
            </p>
          </div>
          <div *ngIf="disbursements && disbursements.length > 0">
            <div
              [ngClass]="uiService.getDisbursementCardStyle(disbursement,appComponent)"
              style="cursor: pointer"
              *ngFor="let disbursement of filteredDisbursements; let i = index"
              (click)="manageDisbursement(disbursement)"
            >
              <div class="col-9 mb-1 search-context px-0">
                <div *ngIf="disbursement.disabledByAmendment" class="mb-0 text-red text-left mt-2" style="font-weight: 600; font-size: 12px">
                  Underlying grant has been amended. Please check if this
                  disbursement is still valid
                </div>
                
                <div class="text-subheader text-left mb-0 mt-2 ml-3">
                 <div class="mb-1"><span>{{ (disbursement.grant.referenceNo? disbursement.grant.referenceNo + " | ": "") + disbursement.grant.name}}</span></div>
                 <div class="mb-1"><span *ngIf="isExternalGrant(disbursement.grant)">{{disbursement.grant.organization? disbursement.grant.organization.name: ""}}</span> </div>
                 <div class="mb-1"><span *ngIf="!isExternalGrant(disbursement.grant)">{{disbursement.grant.grantorOrganization.name}}</span></div>

                 <div class="mt-1">
                  <span>{{currencyService.getFormattedAmount(disbursement.grant.amount)}}</span>
                    &nbsp;&nbsp;<span class="text-subheader"><small>({{currencyService.getAmountInWords(disbursement.grant.amount)}})</small></span>
                  </div>
                </div>
              </div>
              <div class="col-3 d-flex align-items-end justify-content-center">
                <div class="row">
                  <div class="col-12">
                    <div class="status-indicator2">
                      <div [class]="'text-center status-icon state-'+disbursement.status.internalStatus.toLowerCase()">
                      </div>{{disbursement.status.name | uppercase}}
                    </div>
                    <div class="text-center text-subheader pl-3 mt-2">{{disbursement.ownerName}}</div>
                  </div>
                </div>
              </div>
              <div class="col-10 text-left pt-3" (click)="manageDisbursement(disbursement)">
                <div class="row mb-2">
                  <div class="col-12">
                    <div class="text-subheader mb-1"><p class="mb-0">Requested Amount:</p> <span class="text-header search-context">
                      {{
                        currencyService.getFormattedAmount(
                          disbursement.requestedAmount
                        )
                      }}</span>&nbsp;&nbsp;<span class="text-subheader ml-3"><small>
                    {{
                      currencyService.getAmountInWords(
                        disbursement.requestedAmount
                      )
                    }}</small></span>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
