<span class="" style="position:absolute; right: 0; left: auto;top: 4px;" (click)="onNoClick()">
  <mat-icon style="font-size: 20px;">close</mat-icon>
</span>
<p mat-dialog-title class="text-header" style="font-weight: normal;"><strong>{{message.title}}</strong></p>
<ul *ngIf="message" style="min-width: 400px;padding-left: 2px;">
  <li style="list-style: none;">
    <div class="row mb-2" style="border-bottom: 1px solid #f4f4f4;">
      <div class="col-3" style="font-size:12px;"><strong>Name</strong></div>
      <div class="col-3" style="font-size:12px;"><strong>From</strong></div>
      <div class="col-3" style="font-size:12px;"><strong>To</strong></div>
      <div class="col-3" style="font-size:12px;"><strong>Changed By</strong></div>
    </div>
  </li>
  <li *ngFor="let m of message.history" style="list-style: none;">
    <div class="row">
      <div class="col-3" style="font-size:12px;" *ngIf="m.assignmentUser.active">{{m.assignmentUser.firstName}}
        {{m.assignmentUser.lastName}}</div>
      <div class="col-3" style="font-size:12px;" *ngIf="!m.assignmentUser.active">Unregistered:
        {{m.assignmentUser.emailId}}</div>
      <div class="col-3" style="font-size:12px;">{{m.assignedOn | date:'dd-MMM-yyyy hh:mm a'}}</div>
      <div class="col-3" style="font-size:12px;">{{m.updatedOn | date:'dd-MMM-yyyy hh:mm a'}}</div>
      <div class="col-3" style="font-size:12px;" *ngIf="m.updatedByUser">{{m.updatedByUser.firstName}}
        {{m.updatedByUser.lastName}}</div>

    </div>
  </li>
</ul>