<div class="main-content no-top-margin5" style="padding: 0;margin:0 !important">
  <div class="anu-container pt-2" style="margin: 0;">
    <div class="row m-3">
      <div class="col-12 pl-0 mb-3">
        <h5 class="text-left" style="font-weight:bold;">User Profile</h5>
      </div>
      <div class="col-5 px-0 text-left">
          <label class="profile-pic-class" for="profilePic" style="cursor: pointer;">
            <img *ngIf="user.userProfile!==null" (click)="loadImage()" class="img-fluid profile-pic-area"
              [src]="appComp.profile">
          </label>
          <label for="profilePic" style="cursor: pointer;">
            <img style="max-width: 100px;" *ngIf="user.userProfile===undefined || user.userProfile===null"
              (click)="loadImage()" class="img-fluid profile-pic-area" src="./assets/img/avatar.svg">
          </label>
          <input id="profilePic" type="file" accept=".png,.jpg,.jpeg" (change)="processProfilePic($event)"
            style="visibility: hidden;">
      </div>
      <div class="col-7">
        <mat-form-field class="example-full-width">
          <input class="anu-input" [ngModelOptions]="{standAlone: true}" [(ngModel)]="user.firstName" id="userFName"
            matInput placeholder="First Name" type="text" value="{{user.firstName}}" (keyup)='updateProfile()'>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input class="anu-input" [ngModelOptions]="{standAlone: true}" [(ngModel)]="user.lastName" id="userLName"
            matInput placeholder="Last Name" type="text" value="{{user.lastName}}" (keyup)='updateProfile()'>
        </mat-form-field>
        <div class="text-left"><label>Email Id:</label>
        <p class="anu-input mb-0" style="background:#f4f4f4 !important;">{{user.emailId}}</p>
        <a href="#" class="text-green" style="font-weight: 500; text-decoration: underline;" data-toggle="modal" data-target="#changePwdModal">Change Password</a>
      </div>
        
        <div class="text-left mt-4"><label>Roles:</label>
        <p class="anu-input" style="background:#f4f4f4 !important;">
          <ng-container *ngFor="let userRole of user.userRoles; let i = index">
            <span>{{userRole.role.name}}</span>
            <ng-container *ngIf="i<user.userRoles.length-1">, </ng-container>
          </ng-container>
        </p></div>
        
        
      </div>
 
  
      <!-- <div class="col-4 pl-0 text-left d-flex align-items-start justify-content-center">
        <button type="submit" class="btn btn-sm btn-green-primary m-0" (click)="updateProfile()">Update
          Profile
        </button>
      </div> -->
    </div>
</div>


<div class="modal fade" id="changePwdModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document" style="margin-left: calc(100vw - 750px);margin-top: calc(100vh - 475px);">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="padding: 15px 20px;">
        <mat-form-field class="example-full-width">
          <div class="row mt-1">
            <div class="col-11">
              <input class="anu-input" id="old_pwd" matInput placeholder="Current Password" type="password">
            </div>
          </div>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <div class="row mt-1">
            <div class="col-11"><input class="anu-input" id="new_pwd" matInput placeholder="New Password"
                type="password" #tooltip="matTooltip" [matTooltipClass]="'tooltip-class'"
                matTooltip="Password must contain:&#13;- At least one digit,&#13;- One lowercase character,&#13;- One uppercase character,&#13;- One special symbols in the list @#$%, and &#13;- between 6-20 characters"
                matTooltipPosition="above"></div>
            <div class="col-1" style="display:flex;align-items:center;">
              <mat-icon (click)="tooltip.show()" [inline]="true" class="mx-2">info_outline</mat-icon>
            </div>
          </div>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <div class="row mt-1">
            <div class="col-11"><input class="anu-input" id="repeat_new_pwd" matInput placeholder="Repeat New Password"
                type="password"></div>
          </div>
        </mat-form-field>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm bg-green" style="color:#fff !important" (click)="savePasswordChange()">Save changes</button>
        <button type="button" class="btn btn-sm btn-link" data-dismiss="modal">Not now</button>
      </div>
    </div>
  </div>
</div>